[2016-01-17 12:53] helhum opened #2 "Migrate or remove encryption functionality"
The encryption command still does not work and is bound to Flow.
We need to decide wether to remove it or migrate to symfony console command

[2016-01-17 12:56] helhum opened #3 "Document migration path from Flow package version to standalone version"
Most notably:
- Use command to migrate deployment definitions
- Move deployment definitions to ~/.surf/
- Default deployment strategy changed from remote git to rsync

[2016-01-17 12:58] helhum opened #4 "Let migrate command move deployment scripts"
If deployment scripts are found in `Build/Surf` move them to `~/.surf/deployments/`

[2016-01-17 13:00] helhum opened #5 "During migration of deployment scripts, add lines for changing deployment strategy"
At least output a hint that they should be added manually

[2016-01-17 13:56] helhum opened #6 "Add option to specify SSH private key for nodes"
Make the private key that should be used for SSH connections (both shell and rsync) configurable.

(moved from https://forge.typo3.org/issues/66505)

[2016-01-17 13:59] #6 closed

[2016-01-17 15:27] helhum opened #7 "Add "initialize" command for deployment"
Create a new workflow for initializing a deployment on remote nodes. This workflow should:
- Create deployment path (try `mkdir -p`) if it does not exist yet
- Create all needed directories (or at least clear cache if existing)
- Ask to create node specific environment files
- Optionally move data (assets, db) to nodes

[2016-01-18 11:10] astehlik opened #8 "Fix inclusion of autoload in surf executable"
Currently the autoload.php file is not found when installing the surf tool with composer.

I would suggest we use the same approach as phpunit:

Move the surf binary in the root folder and use a loop for searching the autoload.php file:

[code]

[2016-01-19 08:43] DavidSporer opened #10 "SCP Task"
Hi,

I've created an SCP Task for the flow-based version of Surf.
https://gist.github.com/DavidSporer/7485da2e83421cb06292

Does it make sense to include this to the core of this new version or is it something that most people don't need?

Regards,
David

[2016-01-19 08:45] oliverklee commented on #10
:+1:

[2016-01-21 13:28] astehlik opened #11 "Revert symlink array change"
Can db5c9d17eb1a4bd2e0eceb9af25df3136bfc5761 please be reverted? It causes some problems:

1. The [BaseApplication::addSymlink()](https://github.com/TYPO3/Surf/blob/master/src/Application/BaseApplication.php#L143) method still uses the other order and creates the symlink array with wrong array keys / values.
2. It might occur that you have multiple symlinks to the same file. This can not be provid

[2016-01-29 08:23] wouter90 opened #13 "Set minimum PHP version"
symfony/console v3.0.1 requires php >=5.5.9

[2016-01-29 13:50] helhum commented on #11
OK, makes sense. Sorry for the inconvenience

[2016-01-29 13:52] helhum commented on #11
fixed

[2016-01-29 13:52] #11 closed

[2016-01-29 17:59] #8 closed

[2016-01-29 18:02] helhum commented on #10
Cool! Feel free to create a pull request. Don't forget to add tests for the task and to introduce it as new transfer method

[2016-01-29 18:03] helhum commented on #13
Hm, I thought about lowering the console version requirement to ^2.8

[2016-01-29 18:32] wouter90 commented on #13
Fine with me too. Just stumbled upon this on an older VM locally.

[2016-02-15 17:58] #13 closed

[2016-02-20 19:36] SomeBdyElse opened #16 "Make exclude flags of the rsync transfer task configurable"
Right now it is set to `--exclude .git` and can not be changed. It would make sense to add `.gitignore` and `.gitmodules` or, even better, make it configurable. `.git` could stay as a default.

[2016-03-08 17:06] Lemmork opened #20 "Use shell instead shellCommandService"
In File WebOpcacheResetCreateScriptTask.php line 61
$this->shellCommandService->executeOrSimulate($commands, $localhost, $deployment);
is called.
I think it has to be
$this->shell->executeOrSimulate($commands, $localhost, $deployment);
because in ShellCommandServiceAwareTrait the variable shell is set.

[2016-03-08 17:34] Lemmork opened #21 "WebOpcacheResetCreateScriptTask writes on localhost"
Why does this script write the opcodecache file to localhost?
I think it has to be placed on remote so that I can execute it with the WebOpcacheResetExecuteTask.

[2016-03-12 11:28] #20 closed

[2016-03-12 11:33] helhum commented on #21
If your transfer method is rsync, this is fine, as the locally generated file will be transferred to the target node during rsync transmission.

But I agree, this needs to be re-worked to be useable for other transfer methods as well.

[2016-03-22 17:02] #16 closed

[2016-04-14 09:53] SomeBdyElse commented on #2
From my point of view, the encryption functionality can be removed. For automated deployments, the keys for the encrypted files need to be stored on the deployment server anyways. So I do not see a big gain in security by encrypting them.

Or am I missing a primary use case here?

[2016-04-21 12:38] liwo opened #25 "Task Flow\CreateDirectories does not work anymore"
The Task tries to create directories shared/Data/Logs, shared/Data/Persistent and shared/Configuration, but with change 642f7c30b05f29cb457c84fa5960633c34ab8456 the base directory for creating these directories changed from the deployment base to the release directory.

I could not find a specific reason for mentioned change, should we fix the Flow task or revert said change?

[2016-05-11 14:57] fsaris opened #27 "$node->setOption('password' doesn't work in standalone version"
When using the password option with surf.phar 2.0.0-beta4 I run into this error

[2016-06-04 14:09] jacobsenj opened #29 "During deployment make sure the "current" symlink does not get deleted"
Occassionaly it is possible that while a depoyment is running and the current symlink got deleted, that the webserver would create the directories in order to write to typo3temp. Thus a current/.../typo3temp structure would have been created, preventing surf to create the current symlink pointing to the new release.

[2016-06-06 17:41] Sebobo opened #31 "Change default config for deployment of Flow/Neos apps"
The default setting for Flow is this:

[code]

This would do a git checkout, then transfer the data to the server and then run composer install.
This means also that other post install tasks would run on the target node.

I would propose to change this back to the normal Application default like this:

[code]

Because this would do a local git checkout, then run composer and then transfer everythi

[2016-06-06 17:45] Sebobo opened #32 "OpCache reset script filename contains slashes"
This is strange because the random script name should be alphanumeric according to the code.
Solved it temporarily by setting the `scriptIdentifier`.

[code]

[2016-06-06 17:55] Sebobo commented on #2
I used this feature in a project and had some trouble with switching to surf.phar because of that.
But after thinking about a solution I came to the same conclusion as @SomeBdyElse.

[2016-06-07 06:41] helhum commented on #32
fixed already: with #28

[2016-06-07 06:41] #32 closed

[2016-06-07 22:13] #27 closed

[2016-06-08 09:34] helhum commented on #29
It would be good, if you could outline steps to reproduce (what happens exactl by what code in what order)

But my assumtion is, that the only way to prevent this is to switch current symlink to a maintenance page automatically, once the deployment has started.

Optional tasks for that could be useful.

Would such a feature be a solution for your scenario?

[2016-06-10 10:26] helhum opened #33 "Create documentation for every task"
Every task should have a documentation block as class annotation

[2016-06-10 10:27] helhum opened #34 "Create code to documentation converter"
Read class annotations from tasks and create documentation from that

[2016-06-16 08:25] jacobsenj commented on #29
Actually trying to reproduce it, is very hard. It happens occasionally when we deploy one of our bigger TYPO3 installations. Right before the timeframe where the link gets removed a call to the website must have been performed. So a php/TYPO3 call was running while the link was removed and the cache folder was created with its full path in /var/www/hosting/releases/current/src/typo3temp/Cache/...

[2016-06-16 11:09] helhum commented on #29
So you are saying the following happens in this exact order:

1. A request comes in, hitting the index.php "behind" the "current" symlink
1. Surf deletes the symlink
1. TYPO3 hits the point in the bootstrap where cache folder should be created
1. TYPO3 creates the **complete** cache directory recursively (including the "current" directory)

This means it would be reproducible when

1. PATH_site is

[2016-06-22 04:29] kaystrobach opened #35 "escapeshellarg breaks shellcommands"
given you have an deployment step like:

[code]

Then the escapeshellarg in https://github.com/TYPO3/Surf/blob/2.0.0-beta6/src/Task/ShellTask.php#L41 will break the command as the path is not concatenateable.

Even worse the replacement in the rollbakc step returns different data, as there is no escape ...
https://github.com/TYPO3/Surf/blob/2.0.0-beta6/src/Task/ShellTask.php#L87

[2016-06-22 06:57] helhum commented on #35
What exactly does this mean? What is the final command that is being executed?

[2016-06-22 07:03] kaystrobach commented on #35
given `releasePath = some/scary/path`

i could do `cd {releasePath}/some/sub/folder` in older surf releases, as it was executed exactly like you see it.

`cd some/scary/path/some/sub/folder`

Now the same command transforms into ``cd '{releasePath}'/some/sub/folder` (see the two added `'`)

`cd 'some/scary/path'/some/sub/folder`

this is done by `escapeshellarg`as described on php.net:

http://php

[2016-06-22 07:29] helhum commented on #35
This is a perfectly valid command. The quotes do not harm at all. In contrary they make spaces in the path possible. What exactly is failing for you on? In what exact environment is it failing?

[2016-06-22 07:31] kaystrobach commented on #35
i deployed to a debian server and the result was a path not found from the terminal

[2016-06-22 08:11] helhum commented on #35
If you type `cd 'some/scary/path'/some/sub/folder` directly in the terminal, it does not work?

[2016-06-22 08:16] helhum commented on #35
I'm really wondering what is going wrong on your side, as the above is just regular quoting. See e.g.: http://www.grymoire.com/Unix/Quote.html#toc-uh-8

[2016-06-22 09:11] kaystrobach commented on #35
Thank you for your time.

Nyway non escaping in rollback step is then a bit inconsistent

[2016-06-22 09:13] helhum commented on #35
True. I consider not escaping a bug that needs to be fixed. There are more places where escaping does not happen currently

[2016-06-22 13:31] kaystrobach commented on #35
atleast for me it's fixed now with a different syntax, i found the problem i used another php tool, which was not able to understand pathes like `'whatever/test'/otherpathsegment` using `cd`before solved it for me.

[2016-06-22 13:34] kaystrobach commented on #2
👍 for removing, keys should never be stored in VCS ... and there are better more secure solutions like envs...

[2016-06-22 13:35] kaystrobach commented on #25
@helhum as the mergerequest was merged this issue should be closed - right?

[2016-06-22 13:36] kaystrobach commented on #3
use ` --configurationPath=Build/Surf` if you do not want to move any file 😄

[2016-06-22 15:35] #25 closed

[2016-06-22 15:35] helhum commented on #25
Yeah, thanks

[2016-06-22 17:45] helhum commented on #35
I would really like to understand what is going on on your side.

given this simple PHP script:

[code]

And calling it with `php test.php '/sdfasdfsa'/sdfasdf` I get:

[code]

See? No quotes any more.

You could do me a favor and post the exact failing configuration?

[2016-06-30 08:00] hlubek commented on #2
I'm okay to remove that, there are tools now that cover this case like https://www.vaultproject.io/

[2016-07-19 15:17] SomeBdyElse opened #38 "Clarify folder related options for TYPO3 CMS tasks"
Right now, there are two options concerning the folder structure of TYPO3 CMS projects.
- applicationRootDirectory
- applicationWebDirectory

There is no reference to either of these options outside the TYPO3 CMS tasks scope.

Right now, both options seem to be used inconsistently.

Example:
- `SymlinkDataTask` symlinks `fileadmin` and `user_upload` in the `applicationRootDirectory`. This seems to

[2016-07-19 15:20] SomeBdyElse commented on #38
To clarify the options we could
* Remove `applicationWebDirectory` and use `applicationRootDirectory` to point to the web folder. This requires the fewest changes.
* Keep both options and adjust all TYPO3 CMS related tasks to respect them both. This requires adjustments to the `AbstractCliTask`, all coreapi related tasks and `SymlinkDataTask`.
* Remove both options and replace them with a new `web

[2016-08-09 12:39] Lemmork opened #40 "smoketest apache problems"
I want to use the smoke test. Therefore I have to configure my Apache to use the /releases/next path.
Unfortunatly after a deployment the next-Path is deleted.
Therefore reloading apache will fail.
Is there a best practice for that?

[2016-08-09 12:43] sysdef opened #41 "executables are needed to run .phpsh scripts"
The deployment should start php scripts (like cli_dispatch.phpsh) by using the interpreter, not as executable.

/usr/bin/env php ${site} extbase varnishinstance:update ${iplist}

Reason: Some secured systems are using mount options "nodev,noexec,ro" for the typo3src folder.

[2016-08-09 13:26] helhum commented on #41
As you can see here: https://github.com/TYPO3/Surf/blob/master/src/Task/TYPO3/CMS/AbstractCliTask.php#L46-L62
that is already the case for tasks shipped with Surf. This must be the case otherwise deployment would also fail in environments where the correct PHP binary is not available within `/usr/bin/env php`

If you add your own tasks, you need to do so then as well of course. `extbase varnishins

[2016-08-09 13:28] helhum commented on #40
A smoke test is meant to be done **before** the switch state. After the switch, the website is live and can be tested directly anyway.

Am I missing something?

[2016-08-09 13:28] #40 closed

[2016-08-09 13:54] Lemmork commented on #40
but if I deploy changes, I will have smoke tests continously.
If I need to restart my apache in the meantime it will fail because of the missing next folder.

[2016-08-09 14:01] helhum commented on #40
I don't really understand that sentence

Ah, that is true. I'm not sure if you can configure apache (or any other webserver) to be less restrictive with that

[2016-08-09 14:03] Lemmork commented on #40
No unfortunatly you can't configure apache less restrictive.
Is there a reason why the next symlink is deleted?

[2016-08-09 14:55] helhum commented on #40
where should it point to after the symlinks are switched? There is no next release then any more

[2016-08-09 15:32] Lemmork commented on #40
In my workaround I point to current. But in fact only an empty folder would be sufficient for apache.

[2016-08-25 14:09] Sebobo opened #43 "Set default Flow version to 3.0"
Every deployment needs to set flow version to 3.0 because default is still 2.0 which is quite old.

[2016-08-25 20:45] helhum commented on #43
Sounds like an easy task. Can you create a pull request for that?

[2016-08-26 06:57] Sebobo commented on #43
That was my plan ;)

Just couldn't assign it to myself.

[2016-08-27 14:11] #43 closed

[2016-09-13 18:07] helhum commented on #41
@sysdef Any feedback?

[2016-09-13 18:08] helhum commented on #35
@kaystrobach ping

[2016-09-13 18:09] kaystrobach commented on #35
not reproduceable anymore, let's close it for now - thanks

[2016-09-13 18:09] #35 closed

[2016-09-14 14:23] Sebobo opened #49 "Move Flow/Neos specific classes to Neos namespace"
- [x] Move classes to new namespace
- [x] Adapt cli commands to work with older Flow versions and new ones

[2016-09-15 10:43] #2 closed

[2016-09-15 16:02] simonschaufi opened #50 "Create Package States Task throws invalid exception"
These lines of code don't make sence:
https://github.com/TYPO3/Surf/blob/master/src/Task/TYPO3/CMS/CreatePackageStatesTask.php#L33-L41

I have not installed typo3_console in typo3conf/ext/ but I indeed have typo3cms in my root folder which is symlinked to vendor/helhum/typo3-console/Scripts/typo3cms.

The exception should only be thrown if BOTH things are false!

[2016-09-16 09:43] Sebobo commented on #50
I think the right way would be to check for the `typo3_console` package based on the `vendor-dir` of composer instead of always looking in `typo3conf/ext`.
Then the mentioned code should work fine again.

@simonschaufi you can also set your `vendor-dir` in the composer.json to `typo3conf/ext` for example. Then TYPO3 should also be able to find extensions installed via composer.

[2016-09-16 11:24] simonschaufi commented on #50
I wonder why even creating a symlink from typo3conf/ext/typo3_console to vendor dir doesn't work. I thought this could be a workaround...

[2016-09-17 07:47] dgrammlich commented on #33
Hi @helhum, I would take over this issue. :)

[2016-09-17 18:18] helhum commented on #33
@dgrammlich \o/

Do you need anything for the start?

[2016-09-17 18:41] dgrammlich commented on #33
@helhum I only need a quick feedback please. Let's see if I got it right - it's my first contribution _ever_.
I made a clone from your repository, I made a branch. I go through the Tasks folder and give every Task class an annotation, if missing. When I don't understand the purpose of the Task, I'll ask you. When I'm done, I make a pull request from my branch to `master`.
Did I miss something? =)

[2016-09-17 18:58] helhum commented on #33
No, you did not miss something. That sounds awesome!  Thanks a bunch!

[2016-09-18 19:51] dgrammlich commented on #33
@helhum Is a format like this okay? Or should I change something?
[code]

[2016-09-19 12:45] helhum commented on #33
@dgrammlich that format looks perfect to me.
Thanks again!

Feel free to make documentation of each task an individual commit in your branch if you want to

[2016-09-21 06:56] Sebobo commented on #34
@dgrammlich we could maybe use https://github.com/varspool/sphpdox to convert the PHPDoc to Sphinx/Rst converter and then automatically move it to readthedocs.

[2016-09-21 09:00] helhum commented on #34
sounds great!

[2016-09-21 15:25] mschwemer opened #51 "Reimport static SQL data from extensions"
While activating an TYPO3 CMS extension the static sql data is imported. Some extension rely on reimporting this data with up to date contents. Probably the best known example is "static_info_tables" and its language specific brothers and sisters. "static_info_tables" comes with an update script, which rewrites the table contents.

IMO it is necessary that those updates can be done automatically w

[2016-09-21 16:16] helhum commented on #51
I think Surf is the wrong place to discuss this. There is however an open pull request for typo3_console https://github.com/TYPO3-Console/typo3_console/pull/288

The complicated thing is, to get the functionality right conceptually and for that, I think there is no way around starting with the core itself. It does not make sense to overwrite every piece of functionality with typo3_console just to

[2016-09-21 16:16] #51 closed

[2016-09-21 20:53] dgrammlich commented on #34
I gave it a try and installed `sphpdox` with Composer. I had to downgrade `symfony/console` and `symfony/process` to the latest 3.0 version, maybe you can have a look at it.
The convertion to ReST worked fine. You can find the files in the `Documentation` folder.

[2016-09-22 06:48] Sebobo commented on #34
Really cool :)

We should remember to exclude the documentation in the phar build.
Maybe this is already like that, but I didn't yet look into it.

I will also check what is needed for readthedocs, as I already set that up some time ago.

[2016-09-23 16:34] dgrammlich commented on #34
@Sebobo I put the package to `require-dev` and made a pull request.

[2016-09-29 16:00] pide2000 opened #54 "Moving git submodules breaks deployment"
Hey there,

we've moved some submodules with
`git mv oldSubmoduleHome/MySubmodule newSubmoduleHome/MySubmodule`
for the first deployment everything works very well, but the second deployment crashes after the git module stuff from
`Surf/src/Task/Git/AbstractCheckoutTask.php:93` without a specific error. (Got exception "Command returned non-zero return code: 1" rolling back)

We investigated the pr

[2016-09-30 17:07] simonschaufi commented on #50
Setting vendor-dir doesn't fix the problem. then the content of vendor is unter typo3conf/ext/ but the extension itself is not directly under vendor.

[2016-10-04 22:01] simonschaufi commented on #50
@Sebobo do you have a working surf environment? Could you tell me how you set it up?

[2016-10-15 13:09] helhum commented on #50
This is now solved with latest release of TYPO3 Console

[2016-10-15 13:09] #50 closed

[2016-10-15 13:10] #41 closed

[2016-10-19 06:50] helhum opened #55 "Shell Task option expansion should also work for LocalShellTask"
https://github.com/TYPO3/Surf/blob/9eef93038f5300c5d39c02a205c8015dd0271e9f/README.md#shell-task-option-expansion

Add
- deploymentPath
- releasePath
- sharedPath
- currentPath
- previousPath

[2016-11-28 12:33] TheLalaMan opened #56 "Enable asking for sudo password"
As of now, Surf does not support asking for the sudo password during deployment. However, sometimes it is necessary during deployment (depending on your server infrastrukture / security considerations etc.) to execute a **sudo** command.

It would really be great to have this feature, not least because Surf's "bigger brother" Capistrano also supports it.

[2016-12-12 09:41] helhum commented on #56
I have no plans or capacity to implement such a feature, this is why I close this issue.

Taken from http://stackoverflow.com/questions/18939784/how-to-run-commands-which-require-sudo-using-capistrano-v3 and http://capistranorb.com/documentation/getting-started/authentication-and-authorisation/ Capistrano v3 recommends to set passwordless sudo, which I would recommend for Surf as well.

So the mig

[2016-12-12 09:41] #56 closed

[2016-12-12 10:02] helhum commented on #38
Yes. This should be the default case. The following should also be supported:

[code]

both root and web directory need to be specified relative to the checkout directory and it should be possible to configure them independendly. The latter means, that it can be possible that the application web directory is not a subdirectory of the application root directory

[2016-12-12 10:09] helhum commented on #38
hm, while thinking a bit more about it, introducing something like `applicationRootDirectory` consistently, would mean touching almost any existing task.

Therefore I decided to go with option 3 (Remove both options and replace them with a new webDirectory option and introduce getters and setters on the TYPO3 CMS application class. Adjust all tasks to respect the new option

[2016-12-12 11:29] #38 closed

[2016-12-13 06:50] p34ch opened #58 "typo3/surf files in wrong/strange location?"
Not sure if I'm really right here! (sorry)

Im just trying to get typo3/surf working with my neos site for many hours now. When I fire "composer require typo3/surf:dev-master" on the console at my neos instances root directory the packages content gets installed to Packages/Libraries/typo3/surf

Because of this no ./flow surf:* commands are available on the cli. What's the matter here? Could pleas

[2016-12-13 10:27] helhum commented on #58
The new version of Surf does not have *any* flow commands. It comes with its own symfony console commands. The easiest way to use it, is to [download the phar](https://github.com/TYPO3/Surf/releases/download/2.0.0-beta7/surf.phar) and use it as standalone tool

[2016-12-13 10:27] #58 closed

[2016-12-13 13:12] sabbelasichon commented on #55
If you like i could takeover this task. Actually i already did it and could open a pull request.
Don´t know if you agree with my concept of inheritance. But at least i already fixed a bug thanks to create tests for both classes.

[2016-12-13 13:27] helhum commented on #55
Perfect!

Please don't do any inheritance, but rather copy the code. or put that code into one standalone object and use composition to add this shared functionality to the places where needed.

Test are good. If you use composition tests for the individual objects are also easier to write

Thanks!

[2016-12-17 00:07] t3easy opened #61 "Move TYPO3 CMS Configuration to "typo3conf" instead of "Configuration""
The TYPO3\\Surf\\Task\\TYPO3\\CMS\\CopyConfigurationTask switches the extension from .yml to .php but doesn't change the target path.

[2016-12-17 01:19] helhum commented on #61
that is true, but what is the benefit of changing that?

[2016-12-17 11:20] t3easy commented on #61
I would expect, w/o reading the Code or Doc, that files from .surf/Configuration/Deployment are copied over to webdir/typo3conf in context of a TYPO3 application.
Also this would facilitate the migration of other deployment solutions to surf.

[2016-12-20 09:57] helhum commented on #61
I wouldn't do that. TYPO3 has no concept of layered configuration files, thus it has to be implemented on top with some conventions. That was the idea of this task and introducing a new directory which is **on purpose** different to `typo3conf` to make clear it is nothing that is supported by TYPO3 out of the box.

Meanwhile I had better ideas how to work with environment specific configuration, s

[2016-12-20 10:03] t3easy commented on #61
Sounds good to me. I know you have an other solution with .env, but I think for an smother migration this would make sense.

[2017-01-03 13:24] t3easy opened #63 "Be able to use docker container as composerCommandPath"
I don't have PHP 7 installed local and I don't want to fake composer platform with
`"config": {
	"platform": {
		"php": "7.0"
	}
}`
so I use docker
e.g. `docker run --name composer -v $(pwd):/app t3easy/composer:alpine install`

If i set this as composerCommandPath the `$(pwd)` will be escaped as it should be.

What about using some $replacePaths for composerCommandPath like in shell task especial

[2017-01-04 17:22] markwatney2016 opened #65 "Inconsistency concerning the CreatePackageStatesTask"
There is an inconsistency concerning the `CreatePackageStatesTask`:

The PHPDoc block says that `This task is meant to be used for local packaging only`...

    /**
     * Creates the package states file and removes all not active packages from the according folders
     * This task is meant to be used for local packaging only
     */
    class CreatePackageStatesTask extends AbstractCliTask
    {

[2017-01-04 17:24] helhum commented on #65
That is indeed a good question :)

In general it does not matter where it is executed and both, local and remote should work

[2017-01-12 11:46] t3easy opened #67 "TYPO3 CMS uses initialDeployment from $deployment"
TYPO3 CMS uses the option initialDeployment directly from the deployment
https://github.com/TYPO3/Surf/blob/master/src/Application/TYPO3/CMS.php#L69
It's better to use the option from the combined inherited option array.
This way it's not possible to add applications to the stack that use the same option:
[code]

[2017-01-12 12:23] t3easy opened #68 "Run composer pre-deploy scripts automatically"
Scripts inside the scripts > pre-deploy array should run automatically.
https://github.com/helhum/TYPO3-Distribution/blob/master/composer.json#L49
This could be used to trigger e.g. npm to build an application inside a clean environment.
The post-install-cmd that is triggered by composer automatically, could hold other tasks.
A use case:
[code]

The additional `npm prune --production` command dele

[2017-01-13 13:21] Sebobo commented on #49
With the release of Neos 3 and Flow 4 this change is getting bigger.

[2017-01-16 11:52] t3easy opened #70 "[FEATURE] Test all used tools during simulate"
A simulation of the deployment should test all tools that are used during deployment.
Maybe with the tools `which` and `where.exe` and there last return code.
This doesn't check the version or parameters but would be a first step.
The registration of that tools should be next to the command in the task.
e.g. something like
`$this->addToSimulatedTools('readlink');`
Next to https://github.com/TYPO3/

[2017-02-10 12:23] p34ch commented on #49
Are there any plans yet when the new version of Surf shall be released to support deployment of Flow 4.0 applications?

How is deployment of these updated (Flow 4.0) applications possible in the meantime?

[2017-02-10 16:45] Sebobo commented on #49
@p34ch I'm a bit busy right now to finalize the change but I hope to get it done soon.
But of course help is welcome!

For now you just need to replace two tasks to deploy Flow 4.0 right now:

[code]

[2017-02-12 18:30] t3easy opened #72 "Surf can't deploy commits if git history has changed"
I had to change the git history.
After this, I tried to deploy but  the command
https://github.com/TYPO3/Surf/blob/master/src/Task/Git/AbstractCheckoutTask.php#L61
returns two sha1 checksums and therefore the preg_match https://github.com/TYPO3/Surf/blob/master/src/Task/Git/AbstractCheckoutTask.php#L62
fails and an execution is thrown.

[2017-02-12 18:55] t3easy commented on #72
I had to delete the original:
`git update-ref -d refs/original/refs/heads/master`

[2017-02-27 12:14] p34ch commented on #49
@Sebobo Thanks very much for your reply!

I'm still getting an error, after I added your snippet to my deployment script configuration:

`Stage migrate`
`remotehost (Neos Flow) Xyz:Migrate`
`Warning: require(/home/httpd/vhosts/[...]/httpdocs/releases/20170227120113/Packages/Framework/TYPO3.Flow/Scripts/flow.php): failed to open stream: No such file or directory in /home/httpd/vhosts/[...]/httpdocs

[2017-02-27 19:08] Sebobo commented on #49
@p34ch you should one time delete your surf cache on the target system.
`composer install` doesn't update the flow binary if you reuse the checked out project and don't recreate it for every build.
That should help I guess.

[2017-03-14 11:15] jacobsenj opened #73 "Commands using 'typo3/cli_dispatch.phpsh' should take webDirectory into account"
Current tasks running 'typo3/cli_dispatch.phpsh' will fail because they get executed in the project root directory instead of the webDirectory (if that is in use, of course).

i.e. https://github.com/TYPO3/Surf/blob/master/src/Task/TYPO3/CMS/FlushCachesTask.php#L59 will fail if caches should be cleared using coreapi.

[2017-03-14 11:29] helhum commented on #73
good catch. can you create a pull request for this?

[2017-03-20 11:59] jacobsenj commented on #73
Sure, I can try to do it

[2017-03-27 13:10] t3easy commented on #68
I would like to develop that feature. Which triggers are useful? Should we prefix the script names with `surf-`?

- surf-pre-install-cmd
- surf-post-install-cmd
- surf-pre-deploy-cmd

[2017-05-15 12:19] t3easy opened #80 "Task to Dump the database of TYPO3 CMS before migration"
It would be helpful to have task that dumps the TYPO3 CMS database via typo3_console.
Per default this task should not be active to avoid problems with large DBs.

[2017-05-15 12:56] t3easy opened #81 "Keep releases by age"
To continuously deploy small changes there should be a option to keep releases by age.

[2017-05-16 14:14] colorcube opened #82 "git submodules no longer working with newer git version"
git version 2.7.4
TYPO3 Surf version 2.0.0-beta7

The problem is in
https://github.com/TYPO3/Surf/blob/master/src/Task/Git/AbstractCheckoutTask.php#L93

    && for mod in `git submodule status | awk '{ print $2 }'`; do git config -f .git/config submodule.\${mod}.url `git config -f .gitmodules --get submodule.\${mod}.url` && echo synced \$mod; done

The first deploy works because the affected line

[2017-05-17 09:39] simonschaufi opened #83 "[FEATURE] Authenticate with HTTP_AUTH for WebOpcacheResetExecuteTask"
We have a staging system that is only accessible with htaccess protection.
Executing the ``WebOpcacheResetExecuteTask`` fails obviously since it uses ``file_get_contents``.
Would it make sense to use Curl here? See http://stackoverflow.com/a/24045706

[2017-05-18 10:33] t3easy opened #84 "SymlinkDataTask directories should work like fileadmin and uploads"
I have a 2nd File Storage `downloads`
and placed the folder under `shared/Data/downloads` like `shared/Data/fileadmin`.
I set the option `directories` for the SymlinkDataTask
`$application->setOption('TYPO3\\Surf\\Task\\TYPO3\\CMS\\SymlinkDataTask[directories]', ['downloads']);`

I would expect the symlink inside the web folder but it will be created in the root of the project.
[code]

As a workar

[2017-05-18 10:37] helhum commented on #84
I think this behaviour is correct. it could be that I explicitly want the storage folder to not be in document root. but yes, maybe fileadmin should also be in `shared/Data/web/fileadmin`, but it also does not really matter, does it?

[2017-05-18 11:15] t3easy commented on #84
I just wanted to note the inconsistent behavior. Keep as it is is one of the possible solutions.

[2017-05-18 11:16] t3easy commented on #72
I close this because of a edge case.

[2017-05-18 11:16] #72 closed

[2017-05-19 20:26] beardcoder opened #85 "Make composer install command options configurable"
Split composer install options into an array and ad an option to configure them. Like the rSync task $options array.

[2017-07-05 15:38] #49 closed

[2017-07-11 05:13] ambajikonadkar opened #90 "Neos site import command not working"
Neos site import is not working as the wrong command is used

 instead

should have been use.

[2017-07-30 17:51] kaystrobach opened #91 "Provide a ReplaceTask, which can be used to change file content before transfer"
This is sometimes needed, if you need to deploy to a shared hosting with scary php executeable pathes or similar strange stuff.

Having the folloging task we can fix that stuff before transfer (no `sed`) needed and save also limited SSH connections:

[code]

The Task is a simple wrapper for preg_replace - feedback would be awesome, if you like to include it, i would do a PR.

[2017-07-30 17:52] kaystrobach commented on #91
usage:

[code]

[2017-09-05 10:27] simonschaufi commented on #83
Resolved.

[2017-09-05 10:27] #83 closed

[2017-09-23 17:58] DanielRuf opened #92 "missing documentation"
https://docs.typo3.org/surf/TYPO3SurfDocumentation/ from https://typo3.org/typo3-cms/additional-products/surf/

[2017-10-02 09:01] uris-dev opened #93 "Documentation regarding adding tasks seems to be incomplete/misleading"
I tried to add and remove tasks following the documentation, but it didn't work.
 In the docs it is suggested to do
`$workflow = new \TYPO3\Surf\Domain\Model\SimpleWorkflow();`
to access the SimpleWorkflow object to add new tasks. However this obviously creates a complete new workflow, it does not allow you to modify the add tasks to the exiting one, as it seems to be implied in the docs.
To modif

[2017-10-17 10:46] Grony opened #94 "StreamContext of file_get_content() not working"
StreamContext of file_get_content() can not be used because second parameter use_include_path is missing.

in WebOpcacheResetExecuteTask.php : execute()

`file_get_contents($scriptUrl, $streamContext);`
 =>
`file_get_contents($scriptUrl, false, $streamContext);`

[2017-10-28 16:30] #94 closed

[2017-10-28 16:57] simonschaufi opened #96 "Add rollback command task"
Currently there is no command for a rollback. The only rollback support is **during** deployment, but not afterwards. When the site is live, it's a pain to revert the symlinks by hand.

See Rollback in deployer: https://github.com/deployphp/deployer/blob/master/recipe/deploy/rollback.php

[2017-11-17 13:46] Sebobo opened #97 "LocalInstallTask is triggered twice for Flow Apps"
The `Flow` application registers it after the `package` stage and the `BaseApplication` after the `GitTask`.

[2017-11-22 16:48] colorcube commented on #82
This seems to be the right command to get the submodule names:

`git submodule foreach --quiet 'echo $name'`

[2017-11-27 13:41] LeoniePhiline opened #98 "README.md speaks of a "remoteCommandExutionHandler""
The README.md speaks of a "remoteCommandExutionHandler" in text flow and code example.
Probably "exution" should be "execution".

[2017-12-21 05:50] DanielRuf opened #100 "optionally remove composer.lock"
I'm not sure if there was an option added. So far the lock file in the surf deployment / cache directory is not automatically deleted when not using one. This prevents automatic dependency updates for some projects.

So far we have to add another custom task which does this step.

[2018-02-01 15:11] skdmind opened #101 "RsyncTask ignores excludes if custom flags are set"
If you set rsync flags(in my case I needed --append-verify) it will ignore all rsync excludes you've set.

in case this isn't intended:

in TYPO3\Surf\Task\Transfer\RsyncTask:execute():
`$rsyncFlags = isset($options['rsyncFlags']) ? $options['rsyncFlags'] : '--recursive --times --perms --links --delete --delete-excluded' . $excludeFlags;`
to:
`$rsyncFlags = (isset($options['rsyncFlags']) ? $option

[2018-02-05 19:01] t3easy commented on #100
You can force git to reset the workspace: `$application->setOption('TYPO3\\Surf\\Task\\Package\\GitTask[hardClean]', true);`
Or add a task that deletes the file after clone.

[2018-02-05 20:21] DanielRuf commented on #100
The lockfile is often committed. A predefined task for doing this might be useful in some cases.

[2018-02-05 20:54] t3easy commented on #100
But if you commit it, why would you not wanna use it?

[2018-02-05 21:05] t3easy commented on #100
Or maybe use `gitPostCheckoutCommands`
https://github.com/TYPO3/Surf/blob/8f05ab2193a7d64aa4c25bd135c19d7fd2cce6a6/src/Task/Git/AbstractCheckoutTask.php#L120-L139

[2018-02-05 21:13] DanielRuf commented on #100
It was just an example. So far composer automatically generated a lockfile.

[2018-02-05 21:15] DanielRuf commented on #100
Sure. We already have our custom task for doing this but my feature request was to have such a task available as part of the predefined Surf task. For me it makes sense.

Or what do you mean? Should everyone implement a different solution for the same problem?

[2018-02-05 21:17] DanielRuf commented on #100
If it is needed more than once (writing this custom task) why not provide a predefined task? Siplification by design and better DX for "users".

[2018-02-08 12:47] georgringer opened #103 "Remove dependency to neos/utility-files"
Only one method of `neos/utility-files` is used and that is `concatenatePaths` which again just uses  1 other method.

Would be good to use own code to remove that dependency.

[2018-02-08 12:48] georgringer opened #104 "Allow later versions of symfony/process & symfony/console"
Version 4x of symfony/process and symfony/console should be allowed by surf

[2018-04-06 08:15] #98 closed

[2018-04-09 06:11] t3easy commented on #96
Thats hard to automate because of database changes.
If you've changed the DB with the last deployment, your previous deployment could be in a broken state by just switching the symlink and flush caches.
What you can do is `git revert` and redeploy.

[2018-04-09 07:30] helhum commented on #96
deployments not necessarily change the database. having a command that indeed just switches the symlink to previous deploy could be a nice addition. deployer has such command. but yes, priority shouldn't that high…

[2018-04-09 07:40] t3easy commented on #96
As you say _not necessarily_. So maybe a warning with "press y to acknowledge" (and a force parameter) should be displayed before.

[2018-04-09 09:26] t3easy commented on #97
So which one to drop?
https://github.com/TYPO3/Surf/blob/master/src/Application/BaseApplication.php#L223
https://github.com/TYPO3/Surf/blob/master/src/Application/Neos/Flow.php#L81

[2018-04-09 09:28] kaystrobach commented on #97
Please assign it to me - will check later

[2018-04-09 09:31] t3easy commented on #85
Please test #102 if that fits your needs.

[2018-04-09 10:27] t3easy commented on #90
OK, then Neos/Neos should override https://github.com/TYPO3/Surf/blob/master/src/Application/Neos/Flow.php#L177-L186
to return the right command prefix just for `site:import`

[2018-04-09 12:48] simonschaufi commented on #96
Flow has up- and downmigrations. In that case they should also just be rolled back. Yes I'm aware that TYPO3 doesn't have that.

[2018-04-10 05:52] tgaertner commented on #96
Actually if you made a db-dump during the deploy then it is possible to roll-back (with the downside to maybe lose some date if there was not a BE lock). Then we need the possibility to add custom tasks to the rollback process, not just switching the symlinks. With that in most cases a clean rollback would be possible.

[2018-04-10 06:03] t3easy commented on #96
So we need some kind of RollbackWorkflow for each application, where you can hook in to add custom tasks...

[2018-04-10 06:28] kaystrobach commented on #96
please postpone that to `2.(x+1)` where x is bigger than 1 ... so that we can have a stable release with docu first and then add new features ...

[2018-04-10 06:30] kaystrobach commented on #104
have you tested it with the 4.x branch?

[2018-04-10 06:32] kaystrobach commented on #100
@DanielRuf i would happily guide you doing it - what do you think? Should we start a PR together?

[2018-04-10 09:53] t3easy opened #108 "Provide issue template"
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2018-04-10 11:25] kaystrobach opened #109 "Think about quality assurance task with phpqa ..."
maybe it makes sense to have several profiles which allow to run several types of tasks:

* build
* test
* qa (static code analysis)
* deploy

[2018-04-11 08:01] kaystrobach commented on #97
after checking i would prefer removing:

https://github.com/TYPO3/Surf/blob/50179223ff456c742ba2c0ad347d87bf88ebfeaa/src/Application/Neos/Flow.php#L81

As this one is Package specific and does not make sense anymore ... IMHO the BaseTask should assume, that there is an composer.json and try to install all the dependencies ...

**Any objections?**

[2018-04-11 10:10] simonschaufi commented on #109
you are free to add as many other own steps as you like

[2018-04-11 10:11] kaystrobach commented on #109
sure, just collecting opinions ... if so i would implement it as task ...

[2018-04-11 10:13] simonschaufi commented on #109
in my opinion code analysis is more about continuous integration, not about deployment.

[2018-04-11 10:24] t3easy commented on #108
Looks not suitable for Surf to me.
I would remove the `Example Project` part and add questions about `Surf Version`, `PHP Version`, `Environment (CI)`, `deployment configuration`. Maybe like https://github.com/TYPO3-Console/TYPO3-Console/blob/master/.github/ISSUE_TEMPLATE.md

[2018-04-13 13:02] t3easy commented on #97
Seems OK to me. But I'm not that familiar with Flow/Neos.

[2018-04-13 13:17] kaystrobach commented on #97
ok, will test it and give feedback ... maybe i get it done next week during t3uxw

[2018-04-13 13:31] t3easy opened #111 "Lock a deployment while deploying"
I've seen https://github.com/in2code-de/In2code.DeploymentLocker and liked the idea.
I would create a lock file on the remote node to prevent parallel deployments of the same app.

1. Check if lock file present on remote node, if yes, cancel
2. Create lock file
3. _deploy_
4. Remove lock file as last task

With removing the check task someone can force the deployment.
With removing the check and t

[2018-04-13 13:39] kaystrobach commented on #111
Basicly yes, but please add option (commandline) to force deployment ... this makes life easier and it does not need to be configured

[2018-04-13 13:41] kaystrobach opened #112 "Add Task, which add information about the release on the node"
Can be:

* last deployment
* who deployed
* last commits / commit messages
* identifier (git head sha?)

This would make it possible to clearly communicate this stuff inside the application.

[2018-04-13 13:43] marble commented on #92
For some time there has been documentation for different products at docs.typo3.org: neow, flow, surf, typo3. Later on it had been decided to only document the product TYPO3 CMS there.

[2018-04-13 13:43] t3easy commented on #92
Thx for reporting.
AFAIK, everything that was in there is in now the Readme.md.
I close this for now, since the typo3.org page no longer exists and we're working on a new documentation.

[2018-04-13 13:43] #92 closed

[2018-04-13 15:46] kaystrobach commented on #92
who is working on that - maybe you can give me the rights, so that i can connect read the docs?

[2018-04-13 15:49] kaystrobach opened #113 "[IDEA] optimize deployment speed for gitlab"
Currently most projects (for me work like that)

* do composer install in other task already
* launch gitlab runner
  * git checkout
  * apply runner caches
* launch surf
  * git checkout **again** in subfolder
  * do composer install **again**
  * deploy

So maybe it makes sense to have another strategy for getting the code (local file system instead of git). This would eliminate the doubled comp

[2018-04-13 19:57] kaystrobach commented on #113
Agree, anyway a composer install on a completely cache version is very fast 😉

caches are restored by gitlab automatically and artifacts are passed from stage to stage

[2018-04-13 20:10] t3easy commented on #113
And if you also cache the composer cache with GitLab, you can already speed up your current Surf deployment a lot, because the composer command fired by Surf also use it 😉

[2018-04-14 00:06] straschek-io commented on #113
You could just skip the git checkout and add the [LocalInstallTask](https://github.com/TYPO3/Surf/blob/master/src/Application/BaseApplication.php#L217) (which triggers [Composer/InstallTask](https://github.com/TYPO3/Surf/blob/master/src/Task/Composer/InstallTask.php)) manually:
https://gist.github.com/straschek-io/66af03e5be9df3cf5ba312e16de60a10 – note that you will have to exclude build folders

[2018-04-14 00:17] straschek-io opened #114 "Ease distinction of task classes & defined tasks"
It may be confusing for new users that there are FQCN-alike task names like `TYPO3\\Surf\\DefinedTask\\Composer\\LocalInstallTask` & "real" class names like [TYPO3\\Surf\\Task\\Composer\\InstallTask](https://github.com/TYPO3/Surf/blob/master/src/Task/Composer/InstallTask.php).

One first step could be to use `:class` constants whereas possible (means: when there is a distinct PHP class for a task)

[2018-04-17 14:54] t3easy commented on #101
@skdmind would you like to review and Approve #115?

[2018-04-18 08:16] skdmind commented on #101
@t3easy thanks a lot, works completely fine for me

[2018-04-18 08:52] #101 closed

[2018-04-19 21:28] sabbelasichon commented on #5
Is this still needed? I think this can be done manually if necessary.

[2018-04-19 21:30] sabbelasichon commented on #3
This is part of the documentation issue. This issue can be closed.

[2018-04-19 21:55] sabbelasichon commented on #103
Really would like to get rid of dependencies. But we use externally one other method from neos/utility-files `readDirectoryRecursively` which again uses another method and this also another one.

We could just copy these 4-5 methods to some Util class and get rid of the dependency.
Do you think this is worth it?

[2018-04-19 23:01] kitsunet commented on #103
Do what you want, but that's what dependency management is for. Doesn't need to be as extreme as in node, but I don't see a good reason why you would copy any code?

[2018-04-20 05:42] Sebobo commented on #103
The question is, how would it help us right now?
We don't solve a real problem with removing the dependency and we have to maintain more code. If it would be one tiny function, sure, but as you say it's several methods. And I remember at the time, Helmut was quite happy to have some small library functions he could use when he rewrote Surf.

[2018-04-20 05:47] Sebobo commented on #111
Sorry maybe I didn't completely get it.
How would you prevent having a blocked deployment, when a deployment fails (including the rollback) and the lock file stays around?
And without using the command line?

[2018-04-20 05:50] Sebobo commented on #112
This would be helpful for several things. I'm currently using sentry for logging and having a standardized file from which I could read the current release and attach it to error logs would be quite cool.

[2018-04-20 05:57] Sebobo commented on #4
@sabbelasichon  Was that a yes or no? ;)

[2018-04-20 06:03] t3easy commented on #111
If the deployment and the rollback fails maybe something like `surf deploy --force --unlock` or just ssh ... rm deploymentPath/.lock

[2018-04-20 07:50] sabbelasichon commented on #103
I totally agree. So i am going to close this issue. Anyways thanks for opening this issue.

[2018-04-20 07:50] #103 closed

[2018-04-20 08:10] sabbelasichon opened #117 "Minimum PHP-Version requirement for running Surf"

[2018-04-20 13:06] #117 closed

[2018-04-24 20:34] #4 closed

[2018-04-24 20:34] #5 closed

[2018-04-24 20:38] sabbelasichon commented on #80
Could be very useful. Would like to create a pull request for that?

[2018-04-24 20:49] #55 closed

[2018-04-26 20:51] sabbelasichon commented on #114
As we now have defined PHP 5.6 as minimum requirement, we should definitely do this.

[2018-04-26 21:10] sabbelasichon commented on #104
Could you explain your use case for that request?

[2018-04-26 21:16] #84 closed

[2018-04-26 21:53] #29 closed

[2018-04-26 21:55] sabbelasichon commented on #31
Is this still valid?

[2018-04-27 08:10] #3 closed

[2018-05-02 06:08] t3easy opened #125 "Remove support for coreapi"
Last release: 26. Jan 2016
https://extensions.typo3.org/extension/coreapi/
No support for TYPO3 >7.6

👎keep in Surf 2.0
👍remove in Surf 2.0

[2018-05-02 06:12] kaystrobach commented on #125
anyway it can be used if you specify the commands -> so fine with that.

[2018-05-02 06:43] kaystrobach opened #126 "Discuss Vision of Surf and compile a vision document"

[2018-05-02 19:16] t3easy commented on #125
OK no big breaking after beta status... New tasks like #80 will be typo3_console only, OK?

[2018-05-02 19:24] sabbelasichon commented on #82
@colorcube Would you like to open a PR for your fix? Would really like to see that.

[2018-05-02 19:25] sabbelasichon commented on #125
Yes.

[2018-05-02 19:33] sabbelasichon commented on #108
@t3easy I did a pull request #121  regarding this issue.

[2018-05-03 07:04] t3easy commented on #108
@sabbelasichon Thx, I've seen it, but had no time to think about ;)

[2018-05-03 09:11] kaystrobach commented on #80
Should we really cover all edgecases, where you can easily add this as shell task? IMHO this could be in the documentation...

[2018-05-03 09:27] t3easy commented on #80
Thats a good question. But what are edge cases... E.g. for me #100, where you offered help, is not only an edge case, but also bad practice and shouldn't be supported OOTB...
Dumping the db with release identifier and cleanup is not just one shell task.

[2018-05-03 09:57] kaystrobach commented on #80
#100 composer.lock removal might be interesting for integration tests, but how can you deploy in an defined way if the composer.json is removed?

[2018-05-03 10:04] t3easy commented on #80
I've never said that I want to remove the composer.json!? Anyway the definition of edge case is vague.

[2018-05-03 10:13] kaystrobach commented on #80
right it was the *.lock file ... and only in ticket #100 - so please do not feel offended.

agree that defining edgecases is relatively hard.

if we add a "backup" task we should also have a backup stage - right?  For copying files and folders, or do you want to do it in the deployment stage?

[2018-05-03 19:43] josefglatz opened #129 "Support also symfony/console ^4"
the actual typo3_console project does support ^4. If you use PHP 7.2, composer installs ^4. I think this should be updated also in surf.

The same applies also for symfony/process. Surf must support also actual symfony/process:^4

[2018-05-03 20:18] sabbelasichon commented on #129
@josefglatz now i understand issue #104. I am going to check it.

[2018-05-03 20:18] #129 closed

[2018-05-03 20:27] sabbelasichon commented on #85
This can be closed. As it is fixed with PR #102

[2018-05-03 20:27] #85 closed

[2018-05-04 15:21] t3easy opened #132 "surf show / describe / simulate creates empty folders"
If you run surf show / describe / simulate in a folder without a subfolder .surf some empty folders are created.

[code]

[2018-05-04 15:37] t3easy commented on #132
Oh, my fault... seems to be a problem when $HOME is not writable.

[2018-05-04 15:58] josefglatz opened #133 "surf describe: show array values in"
To better understand a deployment it would be very nice if an array value is shown in the output of `surf describe deploymentName`

![image](https://user-images.githubusercontent.com/2861556/39637911-b5e6eed0-4fc4-11e8-931f-b67eb8967363.png)

[2018-05-07 10:33] #132 closed

[2018-05-07 11:44] josefglatz opened #134 "surf describe: tasks added via afterTasks() doesn't show up"
is this a known limitation/bug? Could that be added/fixed?

[2018-05-07 18:43] #104 closed

[2018-05-07 21:29] #125 closed

[2018-05-07 21:37] sabbelasichon commented on #134
Can confirm this. This is probably a bug.

[2018-05-07 22:04] t3easy opened #138 "Update php-cs-fixer config and run it via travis"
We could update the config like https://github.com/TYPO3/TYPO3.CMS/blob/master/Build/.php_cs and run the check with travis.

[2018-05-08 02:19] georgringer commented on #138
I would prefer to use styleci, https://github.com/georgringer/news/blob/master/.styleci.yml as it tests automatically in github as well and sends pull requests there. IMO it is easier to use and "enough" for extensions

[2018-05-08 06:31] t3easy commented on #138
I like php-cs-fixer because you can run it local. But we could update the config to have them in place and add StyleCI as well to test PRs.

[2018-05-09 07:17] #133 closed

[2018-05-11 08:14] sabbelasichon commented on #61
Mark as deprecated. Remove in version 3.0.0

[2018-05-11 08:59] sabbelasichon commented on #100
@kaystrobach @DanielRuf: Did you talk about this issue together? Would be nice to see a PR.

[2018-05-11 09:03] DanielRuf commented on #100
Not yet. Had no time so far and totally forgot about this one here, sorry.

How can we proceed here?

This would be helpful and sounds good.

[2018-05-11 09:09] #108 closed

[2018-05-11 09:36] t3easy commented on #100
@DanielRuf As an idea: instead of remove the composer.lock, running `composer update` after the `composer install` task will have the same effect with the pro that you can see which packages are updated. The only con is the time for download.

[2018-05-11 10:12] sabbelasichon commented on #73
@jacobsenj Is this still valid for you and did you try to fix it?

[2018-05-11 11:26] masi commented on #109
-  static code analysis
-  build
-  test
-  deploy

As PHP is interpretive a simple liniting of all PHP files prior to building would ensure that a broken file slips through if test coverage is less than 100%.

npm boasts its newewst version can find security issues in JS code by doing static analysis. Something like that could make sense to check for before deploying. But there is the risk of fal

[2018-05-15 19:11] josefglatz opened #141 "Remove info about the coreapi requirement"

[2018-05-15 19:11] josefglatz commented on #141
_on it_

[2018-05-16 07:28] josefglatz commented on #126
Any updates ob this? Or blueprint anywhere online? I‘m interested ☺️

[2018-05-16 07:42] kaystrobach commented on #126
Still working on it - currently locally, maybe next week

[2018-05-18 07:59] kaystrobach commented on #97
add test for flow/neos via describe command

[2018-05-18 08:10] kaystrobach opened #145 "Add some preconfigured Tasks to have example deployments"
## Expected Behavior

Have ready to use examples for Tasks to be used with Surf

[2018-05-19 09:29] chvonrohr opened #148 "New Release (2.0.0-beta.8?)"
Last release is already more than a year old and since last release, namespaces in flow/neos have changed. Would be awesome to have a newer phar file for downloading in CD scripts...
Are there any plans?

[2018-05-19 11:56] kaystrobach commented on #148
We are on it - you can use the latest master.

[2018-05-19 12:33] kaystrobach opened #149 "Extract Application Version (for Flow and TYPO3 from composer.json)"
## Expected Behavior

Use composer.json / composer.lock to read version and use correct Tasks automatically

## Actual Behavior

Set manually

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Surf Version:
  - Application:
  - PHP Version:
  - Platform:
  - Environment (CI):
  - Deployment configuration:

[2018-05-19 17:34] chvonrohr commented on #148
cool - nice to hear that.
master contains beta7 phar file, so I have to build phar my own and store it somewhere for downloading...
but happy knowing there is a release coming in the near future..

[2018-05-19 17:34] #148 closed

[2018-05-19 20:01] t3easy commented on #148
@chvonrohr you can install Surf as global composer package. `composer global require typo3/surf:dev-master`

[2018-05-22 08:26] phifa opened #150 "Surf.phar is outdated and does not work with v9"
This is the error message I get:
`ln: failed to create symbolic link '/.../htdocs/stage/releases/20180522070610/web/fileadmin'`

It looks like the `surf.phar` file contains references to `/web/`, but this should now be `/public/`.

I used the current phar file:
https://github.com/TYPO3/Surf/releases/download/2.0.0-beta7/surf.phar

A new phar file would be highly appreciated.

[2018-05-22 08:30] kaystrobach commented on #150
hey @phifa have you set any pathes?
your example contains three dots `...` in the path example, this will always fail.

as workaround you set the `web` again in your composer json

https://github.com/helhum/TYPO3-Distribution/blob/master/composer.json#L44

[2018-05-22 12:02] phifa commented on #150
@kaystrobach i put the dots in as a filler :) the actual path is
`ln: failed to create symbolic link '/kunden/homepages/43/d123456/htdocs/stage/releases/20180522070610/web/fileadmin'`

[2018-05-22 12:08] kaystrobach commented on #150
mhmm ok, have you tried to adjust the composer.json?

[2018-05-22 12:18] sabbelasichon commented on #150
@phifa The CMS Application sets the option webDirectory to web. This is a sensitive default. But you can override this option if you like in your custom surf configuration. Can you please post your configuration and will guide you in the right direction.

[2018-05-22 12:33] phifa commented on #150
This is the current script I am using. It worked great with TYPO3 8.7. Now I just modified the it to the public folder as you can see below, also in the composer.json: `"web-dir": "public"`. But it seems to be stuck with the `/web` dir. When I change it back to `/web` it seems to work.

[code]

[2018-05-22 13:32] sabbelasichon commented on #150
@phifa Set applicationWebDirectory to just webDirectory should do the trick.
The options configuration is a bit tricky in surf. We are working on the docs.

One question: What kind of option is this: applicationRootDirectory?

[2018-05-22 14:59] sabbelasichon commented on #150
@phifa You are welcome, i will close this issue for the moment. Feel free to reopen it.

[2018-05-22 14:59] #150 closed

[2018-05-23 07:01] phifa commented on #150
@sabbelasichon what do you mean by this exactly?
`@phifa Set applicationWebDirectory to just webDirectory should do the trick.`

[2018-05-23 07:02] sabbelasichon commented on #150
@phifa ->setOption('applicationWebDirectory', 'public') to ->setOption('webDirectory', 'public')

[2018-05-24 16:11] phifa commented on #150
dude it works. i guess this line fixed it. thank you very much. @sabbelasichon

[2018-05-24 18:29] sabbelasichon commented on #150
@phifa You are more than welcome. Thank you for verifying it.

[2018-05-25 07:48] #134 closed

[2018-05-25 10:13] sabbelasichon commented on #109
i am going to close this issue. This is in my opinion not part of the surf at the moment.

[2018-05-25 10:13] #109 closed

[2018-05-25 10:41] sabbelasichon commented on #100
I am going to close this issue. Feel free to reopen it.

[2018-05-25 10:41] #100 closed

[2018-05-25 10:47] sabbelasichon commented on #7
I am going to close this issue. If you have any technical solution feel free to reopen it.

[2018-05-25 10:47] #7 closed

[2018-05-29 15:40] #114 closed

[2018-05-29 15:41] #73 closed

[2018-06-01 08:09] sabbelasichon commented on #33
For the documentation see also #93

[2018-06-01 08:11] sabbelasichon commented on #93
we will take this into account for the new documentation.

[2018-06-01 08:11] #93 closed

[2018-06-01 08:13] sabbelasichon commented on #34
We are already doing it to create the documentation from Annotations -> ReST.

[2018-06-01 08:13] #34 closed

[2018-06-01 08:28] sabbelasichon commented on #91
I would like to see a PR for this.

[2018-06-02 06:49] sabbelasichon commented on #67
Would this be a BC break? Or could we implement it with BC in mind?

[2018-06-02 06:53] sabbelasichon commented on #149
@kaystrobach Could you explain this a little bit more by example?

[2018-06-02 06:54] sabbelasichon commented on #31
@Sebobo And would this change introduce a BC break?

[2018-06-03 20:04] Sebobo commented on #31
I think this would change the behavior for some.
Running composer install on the source only instead of the target might create different set of packages or cause issues.
But I think it makes sense to make the configuration more predictable and offer some pointers for people who upgrade to the final release.

[2018-06-04 07:07] sabbelasichon commented on #31
Do not fully understand your last comment. Are you going to change it or do we leave it as it is?
Would like to close more issues ;-)

[2018-06-05 08:09] #138 closed

[2018-06-06 19:20] koehnlein commented on #111
Maybe the lock file could include some information about WHO has locked it and is running the current deployment. This information could be shown in other instances when a deployment is currently locked. So it would be easier to know if the deployment, that created the lockfile, is still running or has failed and the lock file could be deleted.

Of course, this information must be GDPR compatible

[2018-06-06 19:25] t3easy opened #161 "Cycle for task "TYPO3\Surf\Task\Generic\CreateDirectoriesTask" detected"
## Expected Behavior
TYPO3\\Surf\\Task\\CreateDirectoriesTask', 'TYPO3\\Surf\\Task\\Generic\\CreateDirectoriesTask

## Actual Behavior
the task is inserted after itself
https://github.com/TYPO3/Surf/commit/d9fbe050b3bfc7f2a93cb2fcf45509e52bfa4eef#diff-d548aa5e355f8d90ca516b9c4e9b2459L102

## Steps to Reproduce the Problem

  1. run deployment with surf master

## Specifications

  - Surf Version:

[2018-06-06 19:27] sabbelasichon commented on #161
i will check this and will fix it immediately.

[2018-06-06 19:27] t3easy commented on #161
I'm already on it. you can review in a minute.

[2018-06-06 19:29] sabbelasichon commented on #161
ok. Thanks. Would be really cool to have a real deployment the next time in form of functional testing.

[2018-06-06 19:45] #161 closed

[2018-06-06 20:03] t3easy commented on #111
How would you do that? In CI the user is e.g. root. But we could save information like git hash, date time of the commit, branch, etc. so we can also solve #112 with this!

[2018-06-08 09:41] #61 closed

[2018-06-08 13:29] #97 closed

[2018-06-18 19:26] josefglatz opened #167 "[FEATURE] Show enableRollback value (true/false) in describe command"
## Expected Behavior

Would be nice, if the property "rollBack" is shown of a SimpleWorkflow in the describe command.

[2018-06-29 08:35] sabbelasichon opened #168 "Documentation Chapter GettingStarted"

[2018-06-29 08:36] sabbelasichon opened #169 "Documentation Chapter Installation"

[2018-06-29 08:36] sabbelasichon opened #170 "Documentation Chapter Configuration"

[2018-06-29 08:36] sabbelasichon opened #171 "Documentation Chapter CliUsage"

[2018-06-29 08:36] sabbelasichon opened #172 "Documentation Chapter ApiReference"

[2018-06-29 08:36] sabbelasichon opened #173 "Documentation Chapter Examples"
* [ ] TYPO3
* [x] Flow #145
* [ ] Neos
* [ ] laravel?
* [ ] shopware?

[2018-07-13 08:17] josefglatz commented on #170
### Overview of Stages

- [ ] Initial usecase for each stage

[2018-07-16 14:14] YetiCGN opened #175 "Required version of helhum/typo3-console not checked before deployment"
## Expected Behavior

When `composer require`ing Surf it should a) require at least `"helhum/typo3-console": "^5.4"` or b) suggest it for TYPO3 CMS projects but then define a conflicting version with typo3-console < 5.4.0.

## Actual Behavior

Surf checks whether the console is available, but it doesn't check the version so packages of `helhum/typo3-console` < 5.4.0 will throw the following error

[2018-07-16 14:58] YetiCGN commented on #175
Never mind, I was mistaken. `extension:setupactive` is already available in 5.2.0, just not showing up in my setup for some reason. Need to dig deeper.

[2018-07-16 14:58] #175 closed

[2018-07-16 15:09] t3easy commented on #175
Surf doesn't require typo3-console... E.G. if you deploy Neos.

[2018-07-18 07:38] ochorocho opened #176 "Set phpBinaryPathAndFilename on target node"
## Expected Behavior
Composer should use the set PHP binary in option `phpBinaryPathAndFilename` on target node
e.g. "/usr/bin/php72 composer"

This might be related to #31

## Actual Behavior
On the target node surf runs only "composer install" without the binary path prefix
https://github.com/TYPO3/Surf/blob/master/src/Application/Neos/Flow.php#L47

## Steps to Reproduce the Problem
  1. Install

[2018-07-18 08:12] kaystrobach commented on #176
Why would you run a composer install on the target node and not in ci? Imho it’s a bad practice to have composer on the target node.

You should use composer on the ci node and then transfer the result.

[2018-07-18 10:02] ochorocho commented on #176
Yep, you are right. But thats the way it was by default.

I'd better remove/empty the the `updateMethod` option.

[2018-07-18 11:08] ochorocho commented on #176
@kaystrobach as i said you are right :-) ... imho, it would make sense to prefix the composer command with `phpBinaryPathAndFilename` option. For sake of consistency.

[2018-07-27 10:14] sabbelasichon commented on #176
@ochorocho Beside the fact that @kaystrobach is right conceptually. We will do it.

[2018-07-30 10:57] josefglatz opened #177 "\TYPO3\Surf\Task\Php\WebOpcacheResetCreateScriptTask has a hardcoded web directory"
See

The web directory is hardcoded.

This needs to be dynamically set per default.

[2018-07-30 11:29] josefglatz commented on #177
Yes, but the default fallback uses "Web". And as far as I can remember, this directory should get configurable in future and actually everywhere else this is "web" (lowercamelcase)

[2018-07-30 11:31] sabbelasichon commented on #177
Got it. Ok, will check it.

[2018-07-30 12:18] t3easy commented on #177
`Web` with a capital W is the default directory for Neos. This is a generic task for different Apps and as there was no TYPO3 CMS App in the beginning that's fine. It would be breaking for Neos if we change it now.

[2018-07-30 12:20] t3easy commented on #177
Or do you mean we should use different fallbacks for Flow/Neos/TYPO3?

[2018-07-30 13:22] t3easy commented on #177
I have a `CheckApplicationTask` in mind that enriches the application with more information. E.g. application version, config from `composer.json`. This would read this path and also provides infos for #149

[2018-07-30 14:34] kaystrobach commented on #177
Why an extra Task? How about adding that Logic in the App Model as it is anyway App specific?

[2018-07-30 18:51] t3easy commented on #177
@kaystrobach because most composer related commands have to run in an installed app so after `composer install`.

[2018-07-30 18:58] kaystrobach commented on #177
Anyway it should be handled in the app. So that the task simply triggers the app object to extract all the information. Otherwise we will have several places with app specific code

[2018-07-31 09:21] t3easy opened #178 "[TASK] Beautify path concatenation"
## Expected Behavior
\TYPO3\Surf\Task\TYPO3\CMS\SymlinkDataTask should concatenate paths correctly and process the complete path by `escapeshellarg()`
`ln -sf ../../../shared/Data/fileadmin '/httpdocs/domain.tld/releases/20180730224110/web/fileadmin'`
`ln -sf ../../../shared/Data/uploads '/httpdocs/domain.tld/releases/20180730224110/web/uploads'`

## Actual Behavior
Not the complete path is proces

[2018-08-17 14:21] t3easy opened #180 "[FEATURE] Yaml configuration"
## Expected Behavior
A simple deployment should be configurable with Yaml

## Actual Behavior
A PHP file is necessary.

Proposal:
[code]

[2018-08-24 08:26] sabbelasichon commented on #82
Closing for inactivity

[2018-08-24 08:26] #82 closed

[2018-08-24 08:27] sabbelasichon commented on #177
Closing for inactivity

[2018-08-24 09:00] ochorocho commented on #176
Yep, works as expected. Thanks :-)

[2018-08-24 09:00] #176 closed

[2018-08-24 13:48] sabbelasichon commented on #81
@t3easy Could please add some details what do you would expect how this can be configured? Can you keep the releases by seconds, minutes etc.?

I would suggest you can configure them only by seconds.

[2018-08-24 13:52] kaystrobach commented on #81
How about having speaking Intervalls like ‘2 weeks or 2 days or 15 min‘

[2018-08-24 13:52] kaystrobach commented on #81
See example 2 http://php.net/manual/de/function.date-parse.php

[2018-08-26 14:47] sabbelasichon commented on #126
@kaystrobach Maybe you can add this to the documentation folder, so it will be part of the generated documentation itself.

[2018-08-26 14:58] sabbelasichon commented on #21
It is actually simple to add a predefined reset file and its content with a cryptic name by yourself in your git repository and explicitly define the scriptIdentifier for the WebOpcacheResetExecuteTask. So at the moment we are not going to fix this issue here.

[2018-08-26 14:58] #21 closed

[2018-08-26 16:21] sabbelasichon opened #185 "Documentation Chapter Deployment flow"
Write chapter of the deployment flow

[2018-08-27 07:52] sabbelasichon opened #189 "Documentation Chapter Tasks"
Create documentation chapter tasks to explain how to create custom tasks.

[2018-08-27 08:45] sabbelasichon commented on #171
This tasks is already accomplished.

[2018-08-27 08:45] #171 closed

[2018-08-27 10:05] sabbelasichon commented on #172
@Sebobo Can we close this issue if the #191 is merged.

[2018-08-27 14:30] #169 closed

[2018-08-27 14:31] #167 closed

[2018-08-27 14:31] #185 closed

[2018-08-27 14:41] #168 closed

[2018-08-27 15:00] #172 closed

[2018-08-27 16:28] sabbelasichon commented on #80
@t3easy Do you think this is still relevant? If so, i am going to create a Merge Request for it.

[2018-08-27 16:31] #31 closed

[2018-08-27 16:35] sabbelasichon commented on #67
Closed: Due to inactivity.

[2018-08-27 16:35] #67 closed

[2018-08-27 16:36] sabbelasichon commented on #91
Closed: Due to inactivity.

[2018-08-27 16:36] #91 closed

[2018-08-27 16:36] sabbelasichon commented on #63
Closed: Due to inactivity. Feel free to reopen the issue.

[2018-08-27 16:36] #63 closed

[2018-08-27 16:37] sabbelasichon commented on #113
Closed: Due to inactivity. Feel free to reopen the issue.

[2018-08-27 16:37] #113 closed

[2018-08-27 16:38] sabbelasichon commented on #126
Closed: Due to inactivity. Feel free to reopen the issue.

[2018-08-27 16:38] #126 closed

[2018-08-27 16:39] sabbelasichon commented on #149
Closed: Due to inactivity. Feel free to reopen the issue.

[2018-08-27 16:39] #149 closed

[2018-08-27 16:39] sabbelasichon commented on #68
Closed: Due to inactivity. Feel free to reopen the issue.

[2018-08-27 16:39] #68 closed

[2018-08-27 16:46] kaystrobach commented on #91
This can be done with post composer indtall patching

[2018-08-27 16:53] sabbelasichon commented on #112
@kaystrobach do you have suggestions for the following questions:

- Where would you place the file?
- What is the name of the file?
- How to get the information who deployed?

[2018-08-27 18:34] kaystrobach commented on #112
i would recommend having a release file in the root of the directory

so like `releases/2018xxxx/.surf/release.json

The file should contain:

* vcs
  * tag
  * branch
  * HEAD commit
  * git log as diff to deployment before (optional)
* deployment
  * identifier
  * date
  * who deployed
* other information

maybe it makes sense to define a json schema?

[2018-08-27 18:37] kaystrobach commented on #112
naming of the file should take care of

* https://github.com/Carthage/Carthage/blob/master/Documentation/VersionFile.md

I thought there was a VERSION file standard, but i can't find it right now.

[2018-08-29 07:02] kaystrobach commented on #173
can we add a list of usefull deployments here?

Maybe it also makes sense to ship them in code and make them configurable with env vars like the one i contributed for flow, this way we can make deployments really easy.

[2018-08-31 08:39] sabbelasichon commented on #33
@Sebobo or @kaystrobach

We have almost every task described expect the ones for Neos and Flow.
Could one of you Add some phpdocs for these tasks? Would be awesome.

[2018-09-04 06:45] kaystrobach commented on #33
working on it - will do a separate PR for it, as I can't write into @Sebobo s repo

[2018-09-04 06:49] kaystrobach commented on #33
feel free to commend the PR.

[2018-09-05 04:35] #33 closed

[2018-09-06 09:51] t3easy commented on #80
IMO, a DB dump is helpful but not a backup of files as we don't change userspace files. An extension could have a update script that could modify userspace files but that's a lot `could`.
A backup stage is ok but not necessary, IMO.
One question is were to store the dump. On the remote server outside web root or on the system running surf.
With CI in mind, it would be great to dump to the system r

[2018-09-06 13:57] kaystrobach commented on #80
it only makes sense if the "backup" is transfered back to the maschine running surf

[2018-09-24 20:46] #170 closed

[2018-10-30 12:14] t3easy opened #216 "Array keys missing in describe output"
## Expected Behavior
Surf describe shows e.g. source and target of TYPO3\Surf\Task\Generic\CreateSymlinksTask[symlinks]

## Actual Behavior
Just the array value is shown for arrays, not the key.

## Steps to Reproduce the Problem

1. put something like this in your deployment config
[code]
1. run `surf describe project`
1. You'll get
[code]

## Specifications

  - Surf Version: dev-master
  - Appl

[2018-10-31 09:17] t3easy opened #217 "Set rsyncExcludes by webDirectory"
## Expected Behavior
set rsyncExcludes 'web/fileadmin', 'web/uploads' by respecting webDirectory

## Actual Behavior
webDirectory and rsyncExcludes have to be set.

## Steps to Reproduce the Problem
1.  set webDirectory to 'public'
1.  run `surf describe project`
1.  rsyncExcludes dosen't change the paths to 'public/fileadmin', 'public/uploads'

## Specifications

  - Surf Version: dev-master
  -

[2018-10-31 09:22] t3easy commented on #217
We could do it like https://github.com/TYPO3/Surf/blob/master/src/Task/RsyncFoldersTask.php#L63 https://github.com/TYPO3/Surf/blob/master/src/Task/RsyncFoldersTask.php#L81

[2018-10-31 14:22] t3easy opened #218 "surf.phar throws PHP Fatal error if it's read only"
## Expected Behavior
All commands except selfupdate must work if surf.phar is readonly

## Actual Behavior
mymac:~ t3easy$ /usr/local/surf/surf.phar --version
PHP Fatal error:  Uncaught Humbug\SelfUpdate\Exception\FilesystemException: The current phar file is not writeable and cannot be replaced: /usr/local/surf/surf.phar. in phar:///usr/local/surf/surf.phar/vendor/padraic/phar-updater/src/Updater

[2018-10-31 16:21] sabbelasichon commented on #218
@t3easy Can you please test it again with the new attache surf.phar file in the release.

[2018-10-31 16:23] #218 closed

[2018-11-03 11:06] t3easy opened #220 "Rollback lock"
## Expected Behavior
Lock file is removed on rollback

## Actual Behavior
Lock file still present if deployment fails

## Steps to Reproduce the Problem

1. Deploy a project that fails at a stage after lock

## Specifications

  - Surf Version: master
  - Application:
  - PHP Version:
  - Platform:
  - Environment (CI):
  - Deployment configuration:

[2018-11-04 10:37] t3easy opened #221 "Cachetool tasks"
## Expected Behavior
Predefined task to flush apc/opcache with gordalina/cachetool

## Actual Behavior
Not available

## Specifications

  - Surf Version: master
  - Application:
  - PHP Version:
  - Platform:
  - Environment (CI):
  - Deployment configuration:

[2018-11-07 09:45] sabbelasichon opened #222 "Missing file Resources/Private/Scripts/PasswordSshLogin.expect in surf.phar"

[2018-11-09 08:35] #222 closed

[2018-11-09 09:06] sabbelasichon commented on #217
@t3easy I think everybody has to take care of it for himself, because you can set options on different levels in surf. For example only for the application or only for the task. This would lead to change the code in different places. It is not worth the effort in my opinion. Feel free to reopen

[2018-11-09 10:08] t3easy commented on #217
@sabbelasichon  I would introduce a `{webDirectory}`  variable which is in the default rsyncExcludes instead of `web` and process the excludes like in https://github.com/TYPO3/Surf/blob/master/src/Task/RsyncFoldersTask.php#L81
Around 10 lines of code, non breaking, more ootb, and with configuration receiver from composer.json as a possible next step.

[2018-11-09 10:09] sabbelasichon commented on #217
@t3easy Sound good. Feel free to open an PR

[2018-11-15 21:50] #96 closed

[2018-12-14 08:19] Sebobo opened #227 "Don't auto include `ImportSiteTask` for Neos applications"
I don't know anyone who wants to always do a site import on deployment.
Therefore I propose to remove this from the Neos Application and make it optional.

Could also be risky, when someone sets that up and is surprised after a while because their content disappears.

[2018-12-14 11:37] Sebobo opened #228 "Task api documentation is missing in generated docs"
See https://docs.typo3.org/surf/ApiReference/Task/Test/HttpTestTask.html

[2018-12-14 22:54] sabbelasichon commented on #228
We need the sphinxcontrib.phpdomain to render the ApiReference properly, but this is at the moment not possible with the current rendering setup, we cannot do much about it:
https://github.com/t3docs/docker-render-documentation/issues/20

Nevertheless we will keep it in the documentation. At least you can see all the tasks available.

[2018-12-14 22:54] #228 closed

[2018-12-14 23:20] #173 closed

[2018-12-14 23:49] #227 closed

[2018-12-17 08:51] #216 closed

[2018-12-17 08:51] #220 closed

[2019-01-03 15:32] josefglatz opened #246 "rsyncExcludes defaults for TYPO3 CMS"
## Expected Behavior

Since TYPO3 v9.5 LTS: uploads folder isn't used anymore in fresh installation. Don't know if it can be used in upgraded instances.

## Actual Behavior

typo3/surf 2.0.0 beta / dev-master does always symlink the uploads folder to shared folder. (There is already an issue #217 for the thematic about a dynamic webDirectory via a variable)

## Steps to Reproduce the Problem

Fres

[2019-01-03 15:35] josefglatz commented on #217
Since TYPO3 9.5 LTS a fresh composer based installation of the application does use `public` as default webDirectory. This seems reason enough to add support for that?

[2019-01-03 20:19] sabbelasichon commented on #246
@josefglatz This is true and should definitely be configurable. I will address this issue soon.

[2019-01-04 21:19] t3easy commented on #217
I already have a patch for that. I’ll push it the next days.

[2019-01-08 09:15] Sebobo opened #252 "Simplify composer autoloader optimization"
It's possible to optimize the composer autoloader during composer install.
This can improve application response times as the file system checks are skipped. See https://getcomposer.org/doc/articles/autoloader-optimization.md for details.

As file system checks are disabled, this should only be done for production environments where nobody is working on the files by hand. Therefore making it defau

[2019-01-08 10:11] t3easy commented on #252
https://github.com/TYPO3/Surf/blob/master/src/Task/Composer/InstallTask.php#L48

[2019-01-08 10:11] #252 closed

[2019-01-09 10:08] t3easy commented on #217
@josefglatz @schreiberten Would you like to look at the branch 217? It's not very beautifully but it works.

[2019-01-24 16:19] #246 closed

[2019-01-25 09:24] sabbelasichon opened #257 "Add .ddev folder rsyncExcludes"

[2019-01-25 12:56] t3easy opened #259 "Describe doesn't show tasks added to all applications"
## Expected Behavior
All tasks that are executed are visible via describe

## Actual Behavior
Tasks added to _all_  applications are not visible via describe before/after tasks that are added to an single application (which are all default tasks)

## Steps to Reproduce the Problem

  1. Add a task to all applications (don't pass the $app to before/afterTask)
[code]
  1. run surf descibe project

[2019-01-27 14:19] #257 closed

[2019-01-31 12:10] dr2okevin commented on #103
I'm currelntly updating a Flow application to version 4. The Deployment uses Surf and as far as I can see surf needs to be updatet do 2.0.0-beta8 or newer. Flow Requires neos/utility-files 4.* but Surf wants neos/utility-files 3.*
And so, composer says "Your requirements could not be resolved to an installable set of packages."

[2019-01-31 12:11] kaystrobach commented on #103
use surf.phar, don't mix the dependencies, or you will always loose 😄

[2019-01-31 12:13] kaystrobach commented on #103
or if you really want to install surf via composer create a Build/surf folder, create a composer.json for surf there and have it's dependencies managed independently

[2019-02-05 21:46] #177 closed

[2019-02-27 10:06] cymn14 opened #263 "Can't install Flow 5 along with Surf 2.0.0-beta11"
## Expected Behavior
Composer should be able to install both Flow ^5.0 and Surf 2.0.0-beta11

## Actual Behavior
There's a conflict. Flow 5 requires neos/utility-files ~5.0.0 and Surf 2.0.0-beta11 requires neos/utility-files ^3.0.

## Steps to Reproduce the Problem

  1. add "neos/flow": "^5.0" to "require" section of composer.json
  2. add "typo3/surf": "2.0.0-beta11" to "require" section of comp

[2019-02-27 10:24] t3easy commented on #263
It is not recommended and often not possible to install surf to the same composer project as your app. Please install surf to a separate project or use the phar distribution. Please see https://docs.typo3.org/surf/Installation/Index.html for more details.

[2019-03-07 09:46] DrillSergeant commented on #111
We just switched from an older version of Surf to the newest version (where this feature is now active). I wish I could deactivate this feature as it makes our deployment process more complicated and we never had issues with concurrent deployments.
I just had a failed deployment (something was missing in the last commit that was needed for deployment), ok it failed. I fixed it and commited again,

[2019-03-07 09:50] kaystrobach commented on #111
you can force a deployment (commandline switch) to get the old behaviour back

* https://github.com/TYPO3/Surf/blob/master/src/Command/DeployCommand.php#L45

Or use the unlock task

* https://github.com/TYPO3/Surf/blob/master/src/Task/UnlockDeploymentTask.php

[2019-03-07 11:34] t3easy commented on #111
If your deployment failed, why isn't the lock file removed? This should be done by the rollback. Did you disabled that?

[2019-03-07 17:14] DrillSergeant commented on #111
@kaystrobach, @t3easy  thanks guys. I will check that. Good to hear that this behaviour (locked after rollback) is not intented.

[2019-03-07 17:43] t3easy commented on #111
You’re welcome! If it’s a bug, please open a separate issue and reference #220

[2019-03-21 09:55] ochorocho opened #267 "Add option to build current directory"
i wanted to have a single container building the required assets.

Example:
[code]

which works. Gitlab-ci hands over the artifacts to all other jobs which is awesome. The only problem is, Surf itself does all the Tasks in `{workspace}`-Folder. So my assets are not found by Surf.

With an option to build the current directory, it would be possible for Surf to use the existing data without recompil

[2019-03-21 16:59] sabbelasichon commented on #263
@cymn14 Please use the phar-File instead. I am going to close this issue.

[2019-03-21 16:59] #263 closed

[2019-03-21 17:50] kaystrobach commented on #263
Maybe we can add a surf.phar composer repo only containing the phar file.

Or add the phar to https://phar.io/

[2019-03-22 09:14] t3easy commented on #111
@DrillSergeant Did you check your deployment?

[2019-03-22 09:54] DrillSergeant commented on #111
@t3easy We found out that we disabled the rollback in our deployments. We now activated then but since then I did not had a failing deployment so I dont know if those instances are unlocked automatically now.

[2019-04-05 16:35] t3easy opened #291 "Simulate WebOpcacheResetCreateScriptTask and WebOpcacheResetExecuteTask fails"
## Expected Behavior
Be able to simulate a deployment with WebOpcacheResetCreateScriptTask and WebOpcacheResetExecuteTask tasks.

## Actual Behavior
Simulate fails because of exeption

[code]

## Steps to Reproduce the Problem

  1. deployment with both tasks
  1. surf simulate deployment
  1. get exception

## Specifications

  - Surf Version: dev-master
  - Application: TYPO3 CMS
  - PHP Version

[2019-04-12 17:18] sypets opened #292 "Rendered Documentation on docs.typo3.org is missing a description"
## Expected Behavior

Expected: Rendered documentation on https://docs.typo3.org/surf/Index.html has a description "What is Surf" and what is manual about on start page or in "Introduction" chapter, as is usually the case, e.g. see

* [Getting Started](https://docs.typo3.org/typo3cms/GettingStartedTutorial/)
* [Sitepackage Tutorial : Introduction](https://docs.typo3.org/typo3cms/SitePackageTutoria

[2019-04-12 17:47] sypets commented on #292
I noticed this because I wanted to regroup the "Tutorials and Guides" page and add "Surf" in section "DevOps". Maybe you can also checkout the PR: https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/pull/73

[2019-04-18 11:41] #292 closed

[2019-05-09 10:24] simonschaufi opened #295 "get asset in typo3temp after deployment (behind Proxy)"
This is not really a bug or a feature but more a brainstorming.

I have a website with high load and I do exception tracking and often get a message like the following:

`Message: Core: Error handler (FE): PHP Warning: file_get_contents(/var/www/html/releases/20190509120834/private/typo3temp/assets/css/2ba2d28e2f.css): failed to open stream: No such file or directory in /var/www/html/releases/2019

[2019-05-09 10:25] kaystrobach commented on #295
TYPO3 should not throw a warning if resouce is missing, but either fail or create it silently.

Maybe you can create the resources via commandline?

[2019-05-09 10:31] simonschaufi commented on #295
Well, this is a css file that is auto generated by TYPO3 and after deployment the file name can be different because of changes in the original css.

I have the feeling that the time period between when TYPO3 checks if the file exists and then reads it is too long and is interrupted by the symlink change to the new version.

[2019-05-21 10:46] maddy2101 opened #296 "active maintainer, could you please reach out to TYPO3 GmbH concerning automated documentation rendering"
Hello dear maintainer,

currently the documentation is under overhaul, and this affects the automated documentation rendering, when this repository receives patches or tags.

It would be awesome, if one of you could contact me (anja.leichsenring@typo3.com) asap, so we can align on what will change and how the Surf documentation is affected.

Thanks a bunch
Anja

[2019-05-21 10:57] kaystrobach commented on #296
is there a documentation about the changes?

[2019-05-21 20:41] t3easy commented on #296
I've written with Anja.
Summarized:
No technical change for Surf right now. The generation of the docs will happen on Bamboo soon, and we have to ping them if we need to build other doc releases then 2.0.0-beta11 or master.
After the new doc build infra is up and running smooth, we could maybe implement an automated process, e.g. call a webhook with Travis. But as we don’t have that much releases,

[2019-05-21 20:41] #296 closed

[2019-05-23 10:33] t3easy opened #297 "[FEATURE]"
## Expected Behavior
Simple replace a Task in the workflow.
Somehow tell the workflow `Task X` should be replaces by `Task Y` every time `Task X` is used.

## Actual Behavior
You have to remove the task and add the new to the same stages in the same order.

## Specifications

  - Surf Version: master
  - Application: *
  - PHP Version: *
  - Platform: *
  - Environment (CI): *
  - Deployment confi

[2019-06-05 10:01] kaystrobach opened #299 "Add Task to check remote platform reqs"
## Expected Behavior

initial discussion: https://github.com/TYPO3/Surf/pull/298

@t3easy **should**  we had it last week, that our ddev env was correctly configured and an admin removed just one php extension, which broke the whole system ... so it might be helpfull in the future.

`composer check-platform-reqs`

and it's just one command at the first glance.

The solution should take care of tra

[2019-06-14 22:10] phifa opened #300 "Got exception "Command returned non-zero return code: 255" but rollback disabled. Stopping."
The deployment almost runs through. The last task sort of fails. Any idea how I can find the bug here?

[code]

This is my deployment script:
[code]

I am using the surf.phar file from the latest release.

[2019-06-15 02:32] kaystrobach commented on #300
Please add -v option to the deployment command, then we can see more info.

Mittwald has afaik a ssh limit, there was a trick to limit surf to one connection only.

[2019-06-15 08:39] t3easy commented on #300
https://github.com/t3easy/docker-surf/blob/master/ssh_config
I don’t know about Mittwald, but I had problems with uberspace. Since then I use the settings in my docker image to reuse an existing ssh session. Creating an ssh session costs lot of cpu, that’s why hoster limit them.

Another problem with cache flushing by php cli could be apcu as apcu is disabled by on cli by default. That’s why they

[2019-06-17 20:19] phifa commented on #300
@t3easy @kaystrobach I updated the script with option `-v` on. I also set up the folder again and now it runs through and finishes well, but the php warning persists.
`PHP Warning:  PHP Startup: Unable to load dynamic library 'imagick.so'`

[2019-06-17 20:25] kaystrobach commented on #300
This sounds like a misconfigured php.

Php startup errors technically can’t be fixed within a cli script.

The warning suggests, that the imagick extension should be loaded, but loading fails, as the *.so file is missing.

[2019-06-24 19:14] phifa commented on #300
I switched to GraphicsMagick, now it works. Closing this. Thanks guys!

[2019-06-24 19:14] #300 closed

[2019-06-24 19:15] phifa opened #302 "Opcache Reset Task doesnt work"
Website goes live, as you can see, but the cache flushing is stuck. Any ideas?

[code]

[2019-06-25 07:18] sabbelasichon commented on #302
@phifa What you can do is to provide a stream_context option for the WebOpcacheResetExecuteTask
(https://github.com/TYPO3/Surf/blob/master/src/Task/Php/WebOpcacheResetExecuteTask.php#L33)
There you can also define some SSL specific options (https://www.php.net/manual/en/context.ssl.php). I think you have to disable verify_peer and verify_peer_name.

[2019-07-11 07:36] christian-fries opened #303 "phpBinaryPathAndFilename ignored for Neos/Flow CLI tool"
## Expected Behavior
Surf should use the defined `phpBinaryPathAndFilename` to execute Neos/Flow CLI commands (`./flow`)

## Actual Behavior
The default php version of the node is used.

## Specifications

  - Surf Version: 2.0.0-beta8
  - Application: Neos Flow 4.3
  - PHP Version: 7.2

[2019-07-14 21:10] #302 closed

[2019-08-30 06:36] t3easy opened #305 "Use humbug/box to build phar"

[2019-09-24 20:53] martinlipp commented on #303
+1
But I'm guessing that this is not possible, since Surf has no access to the Settings.yaml files of Flow. It should be possible though, with a dedicated configuration option inside Surf.

[2019-09-25 04:04] kaystrobach commented on #303
I think there is an env var for that, but better configure it via the settings. We somve that during the initial deployment.

[2019-09-25 08:17] t3easy commented on #303
The idea is to use the same option like in TYPO3 deployments to call flow. https://github.com/TYPO3/Surf/blob/master/src/Task/TYPO3/CMS/AbstractCliTask.php#L56

[2019-09-25 08:30] kaystrobach commented on #303
Mhmm would be possible, let me check that, that still needs the option to have that i the settings, as flow uses subprocesses to compile and for other stuff

[2019-09-25 08:49] kaystrobach commented on #303
The setting can be reviewed here:

https://github.com/neos/flow-development-collection/blob/master/Neos.Flow/Configuration/Settings.Core.yaml

From my POV its ok to simply call the primary flow script with a php runtime like described for TYPO3. flow does check wether the 2 versions match

[2019-09-26 08:18] martinlipp commented on #303
Changing the buildCommand() method in src/Application/Neos/Flow.php should do it:
https://gist.github.com/martinlipp/19cdbfd9ff8946e755db5ea0e72a8d16

[2019-09-26 08:28] t3easy commented on #303
@martinlipp Would you like to send a PR?

[2019-10-10 22:47] simonschaufi opened #308 "What is missing for the next stable release?"
Surf is in beta for a really long time now. What is missing for the next stable release?

[2019-10-11 05:44] t3easy commented on #308
Code cleanup, standardisation... time

[2019-10-11 10:17] chrosey opened #309 "[Feature] Option to control task execution per node"
## Expected Behavior
Add an option to control whether a task is executed on a node.

## Actual Behavior
Unless defined, every Task is run on every node the Application ist hosted on. This is not necessary for Tasks that need to run once only.

[2019-10-11 11:48] simonschaufi commented on #308
If you could be a bit more precise, I could help with code cleanup.

[2020-01-07 07:07] #303 closed

[2020-02-02 17:04] #217 closed

[2020-02-02 17:13] #308 closed

[2020-02-03 13:52] #81 closed

[2020-02-03 14:02] simonschaufi commented on #112
@kaystrobach

Who is this "who"? The system user that started the surf process? The git user?

[2020-02-03 14:06] kaystrobach commented on #112
can't we use php here? most of the stuff (except the git specific) is easily available in php.

[2020-02-03 14:06] kaystrobach commented on #112
who: the user who started surf or a separated user which is passed via ENV

[2020-02-03 16:04] Sebobo commented on #112
I now write my Gitlab `CI_COMMIT_TAG` with a custom shell task into the `.env` file, assign it to `FLOW_RELEASE` and use it anywhere I need it.

[2020-02-04 00:20] simonschaufi commented on #112
@Sebobo I'm thinking about a use case and the only one that comes to my mind is something like Sentry?

[2020-02-16 12:13] simonschaufi commented on #10
Done with #215

[2020-02-16 12:13] #10 closed

[2020-02-16 12:20] simonschaufi commented on #267
That's why I created npm tasks myself and execute npm in surf workspace.

[2020-02-16 12:23] simonschaufi commented on #309
@chrosey Can you give me a usecase for this?

[2020-02-16 12:56] t3easy commented on #309
Database migration, upgrade wizards,...

[2020-02-17 00:14] simonschaufi commented on #259
Adding a task with `addTask` works fine, it's just that it doesn't work with before and after.

[2020-02-17 07:36] t3easy opened #319 "Refactor describe to output yaml"
## Expected Behavior
It's much more straightforward to create an array in the describe command and use yaml to output that array.

## Actual Behavior
A lot of string foo with white spaces

[2020-02-18 09:30] t3easy commented on #259
Found the problem.

[2020-02-18 12:27] t3easy commented on #259
See: https://github.com/TYPO3/Surf/commit/afb0a58c1b1b895c1dc07231518f4f62f4af4e5d
If you add a task to all apps and then add a 2nd task before or after that one to just one app it is missing. Also if you add a task to just one app and add a 2nd task before or after all apps.
Problem is that we only look at before/after task in the same app:
https://github.com/TYPO3/Surf/blob/master/src/Command/De

[2020-02-19 00:33] simonschaufi commented on #221
Maybe this is the solution to my long term problem:

[code]
I get this error during almost every deployment process on a website behind a proxy server and My customer is so annoyed of this problem as right after the deployment is finished, the server responds with internal server error. One minute later everything is fine.

[2020-02-19 12:59] #259 closed

[2020-02-21 01:57] simonschaufi commented on #291
scriptIdentifier is a required parameter, therefor this is ok. If I set the parameter, everything works fine.

[2020-02-21 02:54] simonschaufi opened #341 "Cli argument for branch/tag/revision to deploy"
I have extended the base application like described here but it would be cool to have native support for environment variables: https://typo3worx.eu/2016/12/deploy-typo3-cms-using-typo3-surf/

[2020-02-21 11:32] #291 closed

[2020-02-21 14:23] #305 closed

[2020-02-21 14:46] #178 closed

[2020-02-21 16:05] t3easy commented on #341
In the title you write cli argument and in the message environment variables.

[2020-02-21 16:07] simonschaufi commented on #341
updated the text

[2020-02-22 12:10] simonschaufi opened #346 "Which kind of applications do you want to deploy? Add yours!"
- Symfony application
- WordPress

It would be great to upgrade these apps remotely (fetch Release zip/tar and deploy):
- owncloud/nextcloud
- Matomo

[2020-02-22 15:45] simonschaufi opened #347 "[FEATURE] Add notification about deployment status for Slack and others"
I want to be notified about successful or failed deployments via Slack or other communication channels.

[2020-02-23 12:05] t3easy commented on #341
What about multi app deployments?
All the same branch?
I would prefer to not add this feature with cli arguments as you can achieve the same with
[code]
and use that env in your config.

But we could check some environment variables by default.
Environment variables are also better in CI because the command stays the same for all jobs.

[2020-02-23 12:14] t3easy commented on #346
I would add Static HTML in first place, maybe with a task to add a cache burst to css/js.

[2020-03-01 01:12] simonschaufi commented on #346
@t3easy Static HTML files are already possible with the `BaseApplication`. Tasks for Jekyll or anything else can of course be provided.

[2020-03-08 10:54] t3easy opened #368 "Remove CreatePackageStatesTask from default TYPO3 workflow"
## Expected Behavior
Task should not be present in the default workflow as the recomendation is to execute it as post-autoload-dump script

https://github.com/TYPO3/TYPO3.CMS.BaseDistribution/blob/9.x/composer.json#L38

## Actual Behavior
It's there and have to be removed

## Specifications

  - Surf Version: master
  - Application: TYPO3
  - PHP Version: all
  - Platform: all
  - Environment (CI)

[2020-03-10 11:32] sabbelasichon commented on #80
I am gonna close this issue.

[2020-03-10 11:32] #80 closed

[2020-03-20 10:26] YetiCGN commented on #346
Nope, [Deployer](https://deployer.org/) is already well suited for these kinds of tasks. Really the only reason I use Surf for TYPO3 projects is because it's from the same developers and my guess is they know the system better than somebody who is developing a deployment tool for all kinds of PHP applications.

[2020-03-20 10:28] YetiCGN commented on #347
Our CI tool does that for us. The CI tool calls `vendor/bin/surf -v deploy <target>` as the last step of many after linting, running tests, etc. In my opinion this should not be done in Surf but on the level above it - separation of concern.

[2020-03-20 10:30] YetiCGN commented on #308
Thank you for 2.0.0! It's really great to finally have a stable release.

I actually only noticed the release when in a legacy project, `dev-master` complained it needed PHP ^7.2 and the project still runs on PHP 7.0. 😄

[2020-03-20 10:45] kaystrobach commented on #347
Imho the wrong scope and you can do it with a shell task already

[2020-03-26 19:52] simonschaufi commented on #295
I'm still looking for a solution to this.

[2020-03-26 20:18] t3easy commented on #295
or we use ergebnis/composer-normalize to normalize the composer.json file

[2020-03-27 12:18] simonschaufi commented on #347
How do you detect if the deployment was successful or had an error?

[2020-04-18 21:08] #368 closed

[2020-04-21 09:04] chrosey commented on #309
I may have an addition:
Can I adjust task options per node? (Example: Customizing the host header for the WebOpCache ResetExecutionTask)

[2020-04-21 09:44] simonschaufi commented on #309
@chrosey currently this is not possible. Everything is bound to an Application but you can of course write you own Tasks and since you get the node as parameter, you can do everything you want.

[2020-04-21 13:19] t3easy commented on #309
@simonschaufi Sorry, but this is not true.

@chrosey You can add options to a node which are merged with other options:
https://github.com/TYPO3/Surf/blob/6f532c809cafb46e045687bf974ab6ede1951565/src/Domain/Service/TaskManager.php#L91

Then you must not configure the same option at the deployment, globalTaskOptions (`$application->setOption('TYPO3\\Surf\\Task\\Package\\GitTask[hardClean]', true);`

[2020-04-21 15:07] simonschaufi commented on #309
Ok. I was really not aware of this.

[2020-04-21 15:28] chrosey commented on #309
@t3easy I tried that with opcache-reset.
[code]
but there is an Error while deploying.
[code]
How should the Syntax to set these options be to let it work?

[2020-04-21 18:03] t3easy commented on #309
@chrosey You set the option wrong.
setOption only accepts one option with one value.
So it would be:
[code]

[2020-04-21 18:10] t3easy commented on #309
The option key for a global task option is always `fullQualifiedClassName[optionName]`

[2020-04-22 08:50] chrosey commented on #309
@t3easy: worked like a charm.

Did I miss this in the documentation?

[2020-04-22 09:23] t3easy commented on #309
No, I guess there is no dokumentation how options can be set and how they are merged/overridden to the final result.

[2020-05-07 19:23] abeutel opened #396 "Incompatible --force option in FlushCachesTask with TYPO3 Console >= 6.2"
## Expected Behavior
FlushCachesTask clears cache

## Actual Behavior
FlushCachesTask fails w/ exception
[code]
due to hard-coded `--force` option.

## Steps to Reproduce the Problem

  1. Use `"helhum/typo3-console": "^6.2.0"` in project
  1. Start deployment
## Specifications

  - Surf Version: 2.0.2
  - Application: TYPO3 CMS
  - PHP Version: 7.2.x
  - Platform: Linux
  - Environment (CI): PHP

[2020-05-07 20:10] simonschaufi commented on #396
See the discussion here: https://github.com/TYPO3/Surf/pull/392

[2020-05-07 22:06] abeutel commented on #396
@simonschaufi I see. What about something like an application option used in `src/Task/TYPO3/CMS/FlushCachesTask.php` like:

[code]

[2020-05-08 06:44] t3easy commented on #396
I’m personally more a friend of positive settings. Maybe an option that sets `['--force']` as default for v2 branch and empty array for master but can always be overridden by the deployment.

[2020-05-08 07:17] abeutel commented on #396
@t3easy Isn't it positive when it does not change the current state and defaults to `--force` which can be overridden? ;-)

[2020-05-08 08:32] t3easy commented on #396
Omit isn’t positive 😉
And the proposed solution would allow to set `--files-only`

[2020-05-08 08:39] abeutel commented on #396
Ah, got it! So we agree on »keep existing behaviour but allow override«.

[2020-05-08 08:43] t3easy commented on #396
For 2.x yes, for master/3.x I would go for the new default.

[2020-05-12 12:10] t3easy commented on #396
Here a quick workaround:

[code]

[2020-05-13 08:35] fe-hicking opened #398 "Configurable composerRootPath"
We have several projects where our GIT repositories do not contain the composer.json file in the root, but rather in a subdirectory - because of reasons (tm).

Until now we have created our own InstallTask that extends \TYPO3\Surf\Task\Composer\InstallTask.

Recent Surf and PHP Updates have created issues that required us to patch method signatures several times, so we were thinking if it would be

[2020-05-13 08:43] fe-hicking commented on #396
Just some feedback: We've implemented the quick workaround, which works well in our setup - thanks for being on top of it.

Do I understand your decission is, the 2.0 branch will get an Option like "UseForceOnCache" which is set to "true" by default, and the deployment can set it to "false", if the integrator knows that his setup uses a recent TYPO3 Console version.

And the master branch uses the

[2020-05-13 08:58] t3easy commented on #396
@fe-hicking
See:
https://github.com/TYPO3/Surf/pull/397

[2020-05-13 09:03] t3easy commented on #396
Yes 2.x branch should keep current behavior with an option to remove the `--force` parameter This will require a 2.1.0 release.
Master should have reliable standards for current software versions so no `--force` by default.

[2020-05-13 09:12] simonschaufi commented on #398
Sure, please go ahead and create a PR but imho it should not just be for composer.json but generally for a base path of the website.

[2020-05-14 07:45] fe-hicking commented on #398
I've just added these two PRs (for master and 2.0 - I am not proficient enough to know if I could create one PR containing changes to multiple branches; feel free to ignore whatever is irrelevant).

I tried to make the setting refer to the project root, not just the composerJsonPath (as it was called for us internally). However I didn't find another place in the code currently where the new option

[2020-06-09 14:28] Moongazer opened #408 "RuntimeException in FlushCachesTask, The "--force" option does not exist"
The `Task/TYPO3/CMS/FlushCachesTask.php` throws the exception for `cache:flush --force`. Valid parameter are `cache:flush [--files-only]`.

I don't know if the change came with TYPO3 v10.4.4 today morning (I couldn't find anything related in the changelogs), but I think it was working yesterday with v10.4.3.

Because it's a default task for TYPO3 deployments, current workaround is to apply `->remo

[2020-06-09 14:29] Moongazer commented on #408
Sorry, haven't seen there is a pull request already.

[2020-06-09 14:29] #408 closed

[2020-06-15 20:29] simonschaufi commented on #398
Made a new release that includes this feature. https://github.com/TYPO3/Surf/releases/tag/2.1.1

[2020-06-15 20:29] #398 closed

[2020-06-26 09:38] Sebobo opened #412 "PHP warning when using FlushCacheList task with Flow/Neos app"
In https://github.com/TYPO3/Surf/blob/eff2cbb54f0f9c9e9b3e80dad41e8e1e3476e2d1/src/Task/Neos/Flow/FlushCacheListTask.php#L77 a trim is called on the option. But the option can be an array already as seen in the following line where it is converted to an array if it's not.

`PHP Warning:  trim() expects parameter 1 to be string, array given in`

[2020-06-28 23:59] #412 closed

[2020-06-29 07:19] t3easy commented on #347
Surf returns not 0 if the deployment fails so you could check for the return code of the last command with `$?`.
If you need some kind of notification, you run surf in a CI environment, otherwise you would see the error instantly.
If you run it in CI you should use the CI integrations or a shell task. If we include a slack notification, next will be email, Microsoft Teams, WhatsApp, what ever.

[2020-06-30 09:51] #396 closed

[2020-07-01 15:52] Moongazer commented on #93
I think the [documentation](https://docs.typo3.org/other/typo3/surf/master/en-us/Tasks/Index.html#add-task-to-the-deployment-flow) is still misleading in the current version: if I try to add a workflow like described there, it will fail because `$workflow` is `NULL` before `onInitialize()`:
[code]

[2020-07-05 22:56] simonschaufi opened #418 "cannot remove './next': Is a directory"
## Expected Behavior

Deployment removes the next directory before creating a new folder

## Actual Behavior

TYPO3\Surf\Task\SymlinkReleaseTask

Got exception "Command returned non-zero return code: 1" but rollback disabled. Stopping.

## Steps to Reproduce the Problem

  1. When I add a new domain, my webhoster automatically creates a folder with that name and adds an index.html in it.
  1. Exec

[2020-07-14 13:52] t3easy commented on #93
@Moongazer Thank you for your feedback. Please check

- https://github.com/TYPO3/Surf/blob/task/prepare-release-2.2.0/Documentation/Tasks/Index.rst
- https://github.com/TYPO3/Surf/blob/task/prepare-release-2.2.0/Documentation/DeploymentFlow/Index.rst#manipulate-the-flow

if this meets your expectations.

[2020-07-15 08:44] t3easy commented on #418
I have some problems to remove folders during a deployment that where not created before.

[2020-07-29 21:43] christian-fries opened #424 "ShellCommandService tries to unlink file that does not exist"
## Expected Behavior
The `ShellCommandService` should delete the file `$passwordSshLoginScriptPathAndFilename` only if it exists.

## Actual Behavior
The `ShellCommandService` wants to delete the file `$passwordSshLoginScriptPathAndFilename` anyway which throws an error if it does not exist.

This behavior was introduced with the commit [85d1d0b](https://github.com/TYPO3/Surf/commit/85d1d0ba5522e5

[2020-07-29 21:57] christian-fries commented on #424
The actual commit (not the release commit) was:
[TASK] Add rector, its config, a CI job and process the project https://github.com/TYPO3/Surf/pull/423/commits/aae9bd6a9c9b92f45049674deae1d3607878d896

Seems like rector introduced this bug.

[2020-07-29 22:23] simonschaufi commented on #424
It looks like the variable should be initialized with null instead of an empty string. Can you please create a PR that fixes it?

[2020-07-30 07:46] t3easy commented on #424
Was my fault, because I changed the types manuals to the ones they are later.

[2020-08-12 09:17] #424 closed

[2020-10-01 21:15] mrimann opened #427 "Add Task to warmup caches"
## Problem
We deploy Flow applications and Neos CMS instances via Gitlab CI with Surf since years. Recently, we noticed that some things broke due to a possible race condition. Usually our Gitlab Pipeline looks like this:

Step 1: Deploy via Surf

Step 2a: Run some re-indexing task (e.g. build up ElasticSearch indexes)
Step 2b: Trigger a run of our version monitoring tool (which in turn sends a GE

[2020-10-02 00:27] simonschaufi commented on #427
Sounds valid. Will you create a PR?

[2020-10-08 09:33] tgaertner commented on #347
I always create a separate stage for notifications in GitLab-CI. With that its very easy and transparent to set requirements for the job and even do different notifications on success and fail.
I agree that its not a task for surf.

[2020-10-08 10:42] #347 closed

[2020-10-23 15:32] mrimann commented on #427
I've asked in #guild-deployment channel on Neos-Slack and hope for some feedback on how to go on with this one, regarding the order of Tasks and what to do in a rollback scenario.

[2020-10-23 15:51] kaystrobach commented on #427
The solution is fine for file based caches. But will fail for redis or database caches if they are not bound to the specific release

[2020-10-23 16:19] t3easy commented on #427
@kaystrobach we already discussed that. The rollback have to flush and warmup the caches on the old release. Then db caches should be fine.

[2020-10-23 16:44] kaystrobach commented on #427
Right - just to ensure, you get what i meant:

Warming up the cache on the „next“ release can already break the „prod“ env if prod and next use the same cache (e.g. redis) but this is imho in the scope of the developer ...

[2020-10-23 18:43] t3easy commented on #427
Yes. The "before switch" is the hardest part. Or is it possible to prefix cache tables/entrees somehow with Neos?

[2020-10-23 18:48] kaystrobach commented on #427
If cache is stored in files (default) all is fine - no Problem warmed up isolated. If you use redis or memcache or similar technologies you just need to follow the rules to not have BCs from deployment to deployment. E.g. add columns, migrate date and write new and old, and remove columns with a new deployment.

But this is imho up to the developer team.

We can solve that for standard cases, but

[2020-10-26 09:12] mrimann commented on #427
Thanks for all the input @t3easy and @kaystrobach and Johannes in the Slack channel! I think I've now got the following image on the whole situation:
- it does not affect the per deployment/release file cache (nothing new here)
- it affects DB / Redis caches that are not isolated from deployment to deployment (e.g. shared between releases) in general, but we need to *differentiate the type of cach

[2020-10-26 15:06] simonschaufi commented on #427
@mrimann I could even simply it even more and just provide the task and you can attach it to whatever stage you want in your own deployment config. Alternatively I could add it after symlink switch and you can remove it and attach it again before the symlink switch. What do you prefer?

[2020-10-28 14:19] mrimann commented on #427
We (@simonschaufi) and I discussed that today and will go on with splitting the second part of my last proposal into *two config options*:

- if one does not explicitely enable cache-warmup tasks (default = off), nothing would change, the new WarmupTask will never be executed
- if one enables e.g. `enableCacheWarmupBeforeSwitchingToNewRelease`, the Cache-Warmup task hooked in the deployment order

[2020-10-29 12:54] simonschaufi commented on #427
@mrimann can you do some tests and give me feedback if it works like expected?

[2020-12-09 13:30] mrimann commented on #427
I just added test-feedback to the pull-request: https://github.com/TYPO3/Surf/pull/429

[2020-12-09 14:29] #427 closed

[2020-12-13 10:59] Moongazer opened #437 "PHP class-attribute types resulting in error [ ParseError ] syntax error, unexpected 'MyModel' (T_STRING)"
If we set class-attribute types in models or other classes (`strict_types = 1`), the deployment breaks with very strange errors:

[code]

[code]

If we remove the types, everything runs like before (before means, the same deployment run well before we used types for attributes). This happens not only to model but also for enable-column classes. We know that Extbase has some trouble with types set,

[2020-12-13 13:19] simonschaufi commented on #437
Did you require surf directly in the typo3 project? This is not recommended. Either use a standalone project or use the surf.phar to avoid any side effects. See https://docs.typo3.org/other/typo3/surf/2.0/en-us/Installation/Index.html

[2020-12-14 14:46] Moongazer commented on #437
No, not as dependency. I installed Surf like suggested in the manual in `/usr/local/bin/surf`and only having a `.surf/MyDeployConfig.php` file in the project repository.

[2020-12-14 16:03] t3easy commented on #437
As Surf only interacts with TYPO3 by typo3_console, I think it could be a problem on @helhum package.

[2020-12-14 16:09] t3easy commented on #437
I guess you get the same error if you run
[code]
manually.
As typo3_console also use core functionality it could be a core bug or "expected" behavior atm. because of the mentioned problems of extbase.

[2020-12-14 17:56] Moongazer commented on #437
Unfortunately I can't check anymore as I switched to PHP Deployer :smiley_cat:
But yes, the error might come from the same source where Extbase has its problems with, not sure what happens under the hood here.

[2020-12-14 18:16] t3easy commented on #437
Do you run the same tasks with deployer?

[2020-12-14 20:36] Moongazer commented on #437
No because I didn't know they are compatible, so I've rewritten the deployment script (based on [sourcebroker/deployer-extended-typo3](https://github.com/sourcebroker/deployer-extended-typo3))

[2020-12-15 08:19] t3easy commented on #437
They are not compatible, but you need a set of tasks, that every deployment tool have to run.
To dig some deeper, please try to run the same shell command in your dev environment.

[code]
(BTW.: Is `Development` the right context for the deployed site? Many use something like `Production/Staging`)
Check the context and set it to the same, the webserver / fpm uses.
Maybe the context is wrong and yo

[2021-01-10 20:31] #418 closed

[2021-03-05 09:41] jonaseberle opened #439 "Document Deployment::relativeRootPaths"
## Expected Behavior
The documentation should have Deployment::relativeRootPaths which was added for v2.0+ in https://github.com/TYPO3/Surf/commit/f4d4f51b5a42b3a9631b2ba3b91c5949c306b81e

[2021-04-09 13:16] susannemoog opened #441 "Add Webhook for Documentation Rendering"
Hey,

the documentation rendering now allows rendering of the surf documentation with the same mechanisms as the "normal" TYPO3 documentation. To make use of this, please add the hook as defined here: https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/WritingDocForExtension/Webhook.html#webhook

Thanks!

Susi

[2021-04-09 16:12] sabbelasichon commented on #441
@susannemoog Thanks. Done

[2021-04-09 16:12] #441 closed

[2021-05-25 14:46] fgerards commented on #437
TYPO3 10.4.16, Surf 2.3.0 php 7.3.28 here --- got structurally the same type of error from helhum typo3-console when deploying with TYPO3 Surf:
` > [ ParseError ]                                                    syntax error, unexpected '|', expecting variable (T_VARIABLE)                                                                      Exception trace: #0 ()    vendor/psr/cache/src/CacheIte

[2021-06-21 11:39] jonaseberle commented on #439
Sorry for the long stale time on this issue. I am trying that on a project now for the first time.
The project has a `src` folder which contains the default TYPO3 structure with `composer.json` etc.

I am using this config:
[code]

This config will cause `SymlinkDataTask` to
[code]
thus creating this structure
[code]

Also the `WebOpcacheResetCreateScriptTask` does not respect the `relativeProject

[2021-07-27 13:33] jonaseberle opened #444 "[FEATURE] Allow tag-based (e.g. live-1.0.1) deployments"
## Expected Behavior
In order to allow tag-based deployments a configuration like this

    $application
      ->setOption('tag', 'live-*')

should deploy the latest tag that matches the wildcard pattern.

## Actual Behavior

Currently deployments with such a configuration fail because there might be more than one gitref matching.

Currently this is used to find the sha1 (Gitref):
`git ls-remote {

[2021-07-27 13:42] simonschaufi commented on #444
Since you already provide a solution, why don't you create a PR as well?

[2021-07-27 13:42] jonaseberle commented on #346
I am going to deploy https://redaxo.org/ with Surf, a system that is basically worse than Wordpress for deployment ;) (fetch release .zip, overlay with local changes, symlink configs, deploy).

Since Surf is received well with colleagues and it is just as easy to add custom tasks as with Deployer, I'd say "why not"?

[2021-07-27 13:43] jonaseberle commented on #444
On it ;)

[2021-07-28 10:13] jonaseberle commented on #267
@ochorocho I don't think your workaround is too bad if you want to have it in different CI stages.

We also build with Surf:
[code]

We use a composer script "build-for:deployment" (which is also used to build the local dev system and which reuses tasks used by the developers directly):
[code]

[2021-07-28 10:22] jonaseberle commented on #221
For me it solved the problem you describe @simonschaufi .

When using cachetool via HTTP like here https://gist.github.com/jonaseberle/9bfc29b3af726c41b3cd9cec088fc722
the only difference to `WebOpcacheResetExecuteTask` seems to be that the latter
* create PHP script
* transfer
* switch symlink
* access via HTTP

while the first (when configured as remote task) does
* transfer
* switch symlink
* c

[2021-08-30 10:46] t3easy opened #448 "[FEATURE] Task for cache:warmup"
https://github.com/TYPO3/typo3/commit/4e25a5787e1215645df02beaf51878a5c7f4bb07

[2021-08-30 11:05] simonschaufi commented on #448
When should this task be executed? Before or after symlink switch?

[2021-08-30 19:03] t3easy commented on #448
V11 will also have cache:flush
https://github.com/TYPO3/typo3/commit/63a097048841d73bcc230ac78004256b6e964108

[2021-08-30 19:05] simonschaufi commented on #448
My question still remains. We still need to call this command at some point...

[2021-08-31 07:16] t3easy commented on #448
@simonschaufi I'm on vacation and only on the mobile. Just opened the issue to not forget about it...

[2021-10-06 11:49] jonaseberle commented on #439
I have moved away from `setRelativeProjectRootPath` for multiple reasons.

As this seems pretty stale the feature could maybe be deprecated?

[2021-10-06 11:53] simonschaufi commented on #439
I actually have such a weird system myself and here it works but yes, it's not recommended.

[2021-10-20 12:54] jonaseberle opened #449 "symfony/console exception "Incorrectly nested style tag found.""
## Expected Behavior
If a Surf command produces output, it should be shown on the console.

Sidenote: The conditions for Surf to show output are as far as I know:

Either of
* command exits unsuccessful
* command outputs something to `stderr`
* `surf` is run with `-v`

## Actual Behavior
If the output contains style tags or parts of it `symfony/console` tries to interpret them and might throw a `\

[2021-11-19 08:48] mz-aimcom opened #450 "Deployment of TYPO3 11.5 with TYPO3 Console 7.0 and option "extensionKeys" exits with error"
## Expected Behavior

`$deployment->setOption('extensionKeys', ['extension_key_1', 'extension_key_2']);`

Should lead to a call of `extension:setup` with parameters `-e extension_key_1` and `-e extension_key_2`.

## Actual Behavior

An Error occurs:

## Steps to Reproduce the Problem

  1. Set at least one extension key for option "extensionKeys"
  2. Run deployment
  3. `SetUpExtensionsTask` thro

[2021-11-24 09:26] mz-aimcom commented on #450
Fixed in `master` branch by pull request #452.

[2022-01-30 18:28] igibek opened #454 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-31 21:36] sabbelasichon commented on #180
@t3easy Would like to cleanup here and would like to close this issue. I don´t need it. I really like PHP.

[2022-01-31 21:37] sabbelasichon commented on #267
@simonschaufi Would like to close this issue. No reaction anymore. Feel free to reopen.

[2022-01-31 21:38] sabbelasichon commented on #295
@simonschaufi I am going to close this issue. Feel free to reopen.

[2022-01-31 21:38] #295 closed

[2022-01-31 21:39] #454 closed

[2022-01-31 21:40] sabbelasichon commented on #346
@simonschaufi I am going to close this issue. Feel free to reopen.

[2022-01-31 21:41] sabbelasichon commented on #319
Old issue. No reaction. Feel free to reopen

[2022-01-31 21:41] #319 closed

[2022-01-31 21:42] sabbelasichon commented on #437
Never had such an issue. Feel free to reopen

[2022-01-31 21:42] #437 closed

[2022-01-31 21:44] sabbelasichon opened #456 "Update dependencies"

[2022-01-31 22:21] #456 closed

[2022-01-31 22:22] sabbelasichon commented on #180
Feel free to reopen.

[2022-01-31 22:22] #180 closed

[2022-01-31 22:22] sabbelasichon commented on #112
Feel free to reopen.

[2022-01-31 22:22] #112 closed

[2022-01-31 22:23] sabbelasichon commented on #70
Feel free to reopen.

[2022-01-31 22:23] #70 closed

[2022-02-01 04:07] simonschaufi commented on #267
I wanted to make this work for v3 as this would be a killer feature that surf doesn't need to checkout the whole repo in CI context for example

[2022-02-06 20:17] sabbelasichon commented on #450
Resolved by #460

[2022-02-06 20:17] #450 closed

[2022-02-07 07:34] sabbelasichon commented on #299
@kaystrobach Thanks for the suggestion, but i am against the idea transferring a composer.phar to the remote system. This should not be the responsibility of Surf.

[2022-02-07 07:34] #299 closed

[2022-02-20 11:32] sabbelasichon opened #468 "Move away from Symfony HTTP-Kernel"
https://tomasvotruba.com/blog/when-symfony-http-kernel-is-too-big-hammer-to-use/

[2022-03-08 22:58] #448 closed

[2022-05-05 13:55] Kokil commented on #437
Same here

[2022-10-13 08:20] astehlik opened #610 "Security vulnerability due to abandoned padraic/phar-updater"
## Expected Behavior

No security vulnerabilities are reported during composer install.

## Actual Behavior

The dependency to padraic/phar-updater introduces a security vulnerability:

| Package           | padraic/humbug_get_contents                                                      |
|---------------------|-----------------------|
| CVE               | CVE-2016-5385

[2022-11-10 10:04] YetiCGN opened #627 "Setting a port leads to Fatal error with escapeshellarg (possibly only with strict typing?)"
## Expected Behavior
[code]

Expected: Deployment runs without error

## Actual Behavior
[code]

## Steps to Reproduce the Problem
  1. Use `<?php declare(strict_types=1);` in deployment script
  1. Set a port on the node
  1. Run deployment

## Specifications

  - Surf Version: 3.3.4
  - Application: TYPO3 10.4.32
  - PHP Version: 7.4.32
  - Platform: Ubuntu Linux 20.04.5 LTS (through WSL 1)
  -

[2022-11-10 10:09] YetiCGN commented on #627
Already fixed in 8a51ce7d, please release.

[2022-11-11 22:55] #627 closed

[2022-11-15 14:45] YetiCGN opened #630 "Symlinks are wrongly tested"
## Expected Behavior
Symlinks correctly set as before in Surf 3.3.4.

## Actual Behavior
Error in CreateSymlinksTask: Insufficient permissions to create directory `../../../../shared`

I think the problem stems from the fact that the symlinks need to go up a few more directories, the deeper they are set in subdirectories but the test introduced with https://github.com/TYPO3/Surf/compare/8a29bb..07